<form class="{{cssClass}} swalt-sheet" autocomplete="off">
    {{!-- NPC Sheet Header --}}
    <header class="panel">
        <img class="profile" src="{{actor.img}}" data-tooltip="{{actor.name}}" data-edit="img" />
        {{> "sw5e.swalt-warnings"}}
        <h1 class="character-name">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'SW5E.Name' }}" />
        </h1>
        <div class="level-experience">
            <div class="charlevel">
                {{ localize "SW5E.AbbreviationCR" }}
                <input name="system.details.cr" type="text" value="{{labels.cr}}" placeholder="1" />
            </div>

            <div class="experience">
                <span class="max">{{system.details.xp.value}} XP</span>
            </div>
            <div class="proficiency">
                <span> {{ localize "SW5E.Proficiency" }} {{labels.proficiency}} </span>
            </div>
        </div>
        <div class="summary">
            <span class="npc-size">{{lookup config.actorSizes system.traits.size}}</span>
            <input class="alignment"
                type="text"
                name="system.details.alignment"
                value="{{system.details.alignment}}"
                placeholder="{{ localize 'SW5E.Alignment' }}"
            />
            <div class="creature-type roundTransition">
                <span data-tooltip="{{labels.type}}">{{labels.type}}</span>
                <a class="config-button" data-action="type" data-tooltip="SW5E.CreatureTypeConfig">
                    <i class="fas fa-cog"></i>
                </a>
            </div>

            <div class="source">
                {{#if (eq system.details.source.custom system.details.source.label)}}
                    <input
                        type="text"
                        name="system.details.source.custom"
                        value="{{system.details.source.custom}}"
                        placeholder="{{ localize 'SW5E.Source' }}"
                    >
                {{else}}
                    <span data-tooltip="{{system.details.source.label}}">{{system.details.source.label}}</span>
                {{/if}}
                {{#if editable}}
                    <a class="config-button" data-action="source" data-tooltip="SW5E.SourceConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                {{/if}}
            </div>
        </div>
        {{!-- Header Attributes --}}
        <div class="attributes">
            {{!-- ARMOR CLASS --}}
            <section class="attrib armor">
                <h1 class="attribute-name box-title"> {{ localize "SW5E.ArmorClass" }} </h1>
                <a class="config-button" data-action="armor" data-tooltip="SW5E.ArmorConfig">
                    <i class="fas fa-cog"></i>
                </a>
                <div
                    class="attribute-value"
                    data-attribution="attributes.ac"
                    data-attribution-caption="SW5E.ArmorClass"
                    data-tooltip-direction="DOWN"
                >
                    <span>{{system.attributes.ac.value}}</span>
                </div>
                <footer class="attribute-footer">
                    <span>{{labels.armorType}}</span>
                </footer>
            </section>

            {{!-- HIT POINTS --}}
            <section class="attrib health">
                <h1 class="attribute-name box-title">{{ localize "SW5E.HitPoints" }}</h1>
                <a class="config-button" data-action="hit-points" data-tooltip="SW5E.HitPointsConfig">
                    <i class="fas fa-cog"></i>
                </a>
                <div class="attribute-value multiple">
                    <input
                        name="system.attributes.hp.value"
                        type="text"
                        class="value-number"
                        value="{{hp.value}}"
                        placeholder="10"
                        data-tooltip="SW5E.HitPointsCurrent"
                        data-dtype="Number"
                    >
                    <span class="value-separator">/</span>
                    <input
                        name="system.attributes.hp.max"
                        type="text"
                        value="{{hp.max}}"
                        placeholder="10"
                        data-tooltip="SW5E.HitPointsMax"
                        data-dtype="Number"
                    >
                </div>
                <footer class="attribute-footer hit-points">
                    <input
                        name="system.attributes.hp.temp"
                        type="text"
                        class="value-number temphp"
                        placeholder="+{{ localize 'SW5E.Temp' }}"
                        value="{{hp.temp}}"
                        data-tooltip="SW5E.HitPointsTemp"
                        data-dtype="Number"
                    >
                    <input
                        name="system.attributes.hp.tempmax"
                        type="text"
                        class="value-number temphp"
                        placeholder="+{{ localize 'SW5E.Max' }}"
                        value="{{hp.tempmax}}"
                        data-tooltip="SW5E.HitPointsTempMax"
                        data-dtype="Number"
                    >
                </footer>
            </section>

            {{!-- MOVEMENT --}}
            <section class="attrib movement">
                <h1 class="attribute-name box-title">{{ localize "SW5E.Movement" }}</h1>
                <a class="config-button" data-action="movement" data-tooltip="SW5E.MovementConfig">
                    <i class="fas fa-cog"></i>
                </a>
                <div class="attribute-value">
                    <span>{{movement.primary}}</span>
                </div>
                <footer class="attribute-footer">
                    <span>{{movement.special}}</span>
                </footer>
            </section>
        </div>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation root-tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "SW5E.Attributes" }}</a>
        <a class="item" data-tab="features">{{ localize "SW5E.Features" }}</a>
        <a class="item" data-tab="force-powerbook">{{ localize "SW5E.ForcePowerbook" }}</a>
        <a class="item" data-tab="tech-powerbook">{{ localize "SW5E.TechPowerbook" }}</a>
        <a class="item" data-tab="effects">{{ localize "SW5E.Effects" }}</a>
        <a class="item" data-tab="ssfeatures">{{ localize "SW5E.StarshipfeaturePl" }}</a>
        <a class="item" data-tab="biography">{{ localize "SW5E.Biography" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">
        <section class="tab core" data-group="primary" data-tab="attributes">
            <section class="panel abilities">
                {{!-- Ability Scores --}}
                <section class="scores">
                    <h1>{{localize "SW5E.AbilityScorePl" }}</h1>
                    <ol class="score-list">
                        {{#each abilities as |ability id|}}
                            <li class="score" data-ability="{{id}}">
                                <h2 class="ability-name rollable">{{ability.label}}</h2>
                                <input type="text" value="{{ability.value}}" name="{{concat 'system.abilities.' id '.value'}}"
                                       class="ability-score" placeholder="10" data-dtype="Number">
                                <div class="ability-modifiers">
                                    <span class="ability-mod" data-tooltip="SW5E.Modifier">
                                        {{numberFormat ability.mod decimals=0 sign=true}}
                                    </span>
                                    <input type="hidden" name="system.abilities.{{id}}.proficient" value="{{ability.baseProf}}"
                                           data-dtype="Number"/>
                                    <a class="proficiency-toggle ability-proficiency" data-tooltip="SW5E.Proficiency">
                                        {{{ability.icon}}}
                                    </a>
                                    <span class="ability-save" data-tooltip="SW5E.SavingThrow">
                                        {{numberFormat ability.save decimals=0 sign=true}}
                                    </span>
                                </div>
                                <a class="config-button" data-action="ability" data-tooltip="SW5E.AbilityConfigure">
                                    <i class="fas fa-cog"></i>
                                </a>
                            </li>
                        {{/each}}
                    </ol>
                </section>
                {{!-- Skills --}}
                <section class="skills">
                    <h1>{{localize "SW5E.Skills"}}</h1>
                    <ol>
                        {{#each config.skills as |obj s|}} {{#with (lookup ../skills s) as |skill|}}
                <li class="skill proficiency-row skill {{#if skill.value}}proficient{{/if}}" data-property="skills"
                    data-key="{{s}}">
                                <input type="hidden" name="system.skills.{{s}}.value" value="{{skill.baseValue}}" data-dtype="Number">
                                <input type="hidden" name="system.skills.{{s}}.ability" value="{{skill.ability}}">
                                <a class="proficiency-toggle skill-proficiency" data-tooltip="{{skill.hover}}">{{{skill.icon}}}</a>

                                <div class="skill-name-controls">
                                    <span class="skill-name rollable">{{skill.label}}</span>
                                    <a class="config-button" data-action="skill" data-tooltip="SW5E.SkillConfigure">
                                        <i class="fas fa-cog"></i>
                                    </a>
                                </div>
                                <span class="skill-ability">{{skill.abbreviation}}</span>
                                <span class="skill-mod" data-tooltip="{{'SW5E.SkillModifierHint' skill=label}}">
                                    {{numberFormat skill.total decimals=0 sign=true}}
                                </span>
                                <!-- <input
                                    class="skill-bonus"
                                    name="system.skills.{{s}}.bonus"
                                    type="text"
                                    value="{{numberFormat skill.bonus decimals=0 sign=true}}"
                                    data-dtype="Number"
                                    placeholder="0"
                                    data-tooltip="Misc. Modifier"
                                /> -->
                                <!-- <span class="skill-passive" data-tooltip="{{localize 'SW5E.SkillPassiveHint' skill=label}}">
                                    ({{skill.passive}})
                                </span> -->
                            </li>
                        {{/with}} {{/each}}
                    </ol>
                </section>
            </section>
            <section class="panel traits-resources">
                {{!-- Legendary Actions --}}
                <div class="counters">
                    <div class="counter legendary">
                        <strong>{{ localize "SW5E.LegAct" }}</strong>
                        <div class="counter-value">
                            <input name="system.resources.legact.value" type="text" step="any"
                                   value="{{system.resources.legact.value}}" placeholder="0"
                                   data-tooltip="SW5E.LegActRemaining" data-dtype="Number">
                            <span class="sep">/</span>
                            {{numberInput system.resources.legact.max name="system.resources.legact.max" min=0 step=1
                                          placeholder=0}}
                        </div>
                    </div>
                    <div class="counter legendary">
                        <strong>{{ localize "SW5E.LegRes" }}</strong>
                        <div class="counter-value">
                            <input name="system.resources.legres.value" type="text" step="any"
                                   value="{{system.resources.legres.value}}" placeholder="0"
                                   data-tooltip="SW5E.LegResRemaining" data-dtype="Number">
                            <span class="sep">/</span>
                            {{numberInput system.resources.legres.max name="system.resources.legres.max" min=0 step=1
                                          placeholder=0}}
                        </div>
                    </div>
                    <div class="counter lair">
                        <strong>{{ localize "SW5E.LairAct" }}</strong>
                        <div class="counter-value">
                            <input name="system.resources.lair.value" type="checkbox"
                                   value="{{system.resources.lair.value}}"
                                   data-dtype="Boolean" {{checked system.resources.lair.value}}>
                            <input name="system.resources.lair.initiative" type="number" step="any"
                                   value="{{system.resources.lair.initiative}}"
                                   placeholder="20" data-tooltip="SW5E.LairActionInitiative">
                        </div>
                    </div>
                </div>
                <div class="core-traits">{{> "sw5e.swalt-traits"}}</div>
            </section>
        </section>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "sw5e.swalt-features" sections=features}}
        </div>

        {{!-- Powerbook Tabs --}}
        <section class="tab force-powerbook" data-group="primary" data-tab="force-powerbook">
            {{> "sw5e.swalt-force-powerbook"}}
        </section>

        <section class="tab tech-powerbook" data-group="primary" data-tab="tech-powerbook">
            {{> "sw5e.swalt-tech-powerbook"}}
        </section>

        {{!-- Starships Tab --}}
        <section class="tab features" data-group="primary" data-tab="ssfeatures">
            {{> "sw5e.swalt-starships" sections=ssfeatures}}
        </section>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "sw5e.swalt-active-effects"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            <div class="panel">
                <section>
                    <h1>{{localize "SW5E.Biography"}}</h1>
                        {{editor 
                            biographyHTML 
                            target="system.details.biography.value" 
                            button=true editable=editable
                            engine="prosemirror" 
                            collaborate=false
            			}}
                </section>
            </div>
        </div>
    </section>
</form>
