<form class="{{cssClass}} swalt-sheet" autocomplete="off">
  {{!-- Starship Sheet Header --}}
  <header class="panel">
    <img class="profile" src="{{actor.img}}" data-tooltip="{{actor.name}}" data-edit="img" />
    {{> "sw5e.swalt-warnings"}}
    <h1 class="character-name">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'SW5E.Name' }}" />
    </h1>
    <div class="level-experience">
      <div class="charlevel">
        {{ localize "SW5E.StarshipTier" }} {{system.details.tier}}
      </div>
    </div>
    <div class="summary">
      <div class="size" data-tooltip="SW5E.Size">{{lookup config.actorSizes system.traits.size}}</div>
      <input type="text" name="system.details.source" value="{{system.details.source}}" placeholder="{{ localize 'SW5E.Source' }}" />
      <div class="proficiency">{{ localize "SW5E.Proficiency" }} {{labels.proficiency}}</div>
    </div>
    {{!-- Header Attributes --}}
    <div class="attributes starship">
      {{!-- ARMOR CLASS --}}
      <section class="attrib armor">
        <h1 class="attribute-name box-title"> {{ localize "SW5E.ArmorClass" }} </h1>
        <a class="config-button" data-action="armor" data-tooltip="SW5E.ArmorConfig">
          <i class="fas fa-cog"></i>
        </a>
        <div
          class="attribute-value"
          data-attribution="attributes.ac"
          data-attribution-caption="SW5E.ArmorClass"
          data-tooltip-direction="DOWN"
        >
          <span>{{system.attributes.ac.value}}</span>
        </div>
        <footer class="attribute-footer repair">
          <button type="button" class="rest recharge-repair">{{ localize "SW5E.Recharge" }}</button>
          <button type="button" class="rest refitting-repair">{{ localize "SW5E.Refitting" }}</button>
          <button type="button" class="rest regen-repair">{{ localize "SW5E.ShieldRegen" }}</button>
        </footer>
      </section>

      {{!-- HULL POINTS --}}
      <section class="attrib health">
        <h1 class="attribute-name box-title">{{ localize "SW5E.HullPoints" }}</h1>
        <a class="config-button" data-action="hull-points" data-tooltip="SW5E.HullPointsConfig">
          <i class="fas fa-cog"></i>
        </a>
        <div class="attribute-value multiple">
          <input
            name="system.attributes.hp.value"
            type="text"
            class="value-number"
            value="{{hp.value}}"
            placeholder="10"
            data-tooltip="SW5E.HullPointsCurrent"
            data-dtype="Number"
          >
          <span class="value-separator">/</span>
          <span class="value-number" data-tooltip="{{#if source.attributes.hp.max}}SW5E.HullPointsOverride{{else}}SW5E.HullPointsMax{{/if}}">
            {{hp.max}}
          </span>
        </div>
        <footer class="attribute-footer hull-dice">
          {{labels.hullDice}}
        </footer>
      </section>

      {{!-- SHIELD POINTS --}}
      <section class="attrib health">
        <h1 class="attribute-name box-title">{{ localize "SW5E.ShieldPoints" }}</h1>
        {{#if shieldInstalled}}
          <a class="config-button" data-action="shield-points" data-tooltip="SW5E.ShieldPointsConfig">
            <i class="fas fa-cog"></i>
          </a>
          <div class="attribute-value multiple">
            <input
              name="system.attributes.hp.temp"
              type="text"
              class="value-number"
              value="{{hp.temp}}"
              placeholder="10"
              data-tooltip="SW5E.ShieldPointsCurrent"
              data-dtype="Number"
            >
            <span class="value-separator">/</span>
            <span class="value-number" data-tooltip="{{#if source.attributes.hp.tempmax}}SW5E.ShieldPointsOverride{{else}}SW5E.ShieldPointsMax{{/if}}">
              {{hp.tempmax}}
            </span>
          </div>
          <footer class="attribute-footer shield-dice{{#if isShieldDepleted}} depleted{{/if}}">
            {{#if isShieldDepleted}}
              {{localize "SW5E.ShieldDepleted"}}
            {{else}}
              {{labels.shieldDice}}
            {{/if}}
          </footer>
        {{else}}
          {{localize "SW5E.ShieldNotInstalled"}}
        {{/if}}
      </section>

      {{!-- MOVEMENT --}}
      <section class="attrib movement">
        <h1 class="attribute-name box-title">{{ localize "SW5E.Movement" }}</h1>
        <div class="attribute-value">
          <span>{{movement.primary}}</span>
        </div>
        <footer class="attribute-footer">
          <span>{{movement.special}}</span>
        </footer>
      </section>
    </div>
  </header>

  {{!-- Starship Sheet Navigation --}}
  <nav class="sheet-navigation root-tabs" data-group="primary">
    <a class="item active" data-tab="attributes">{{ localize "SW5E.Attributes" }}</a>
    <a class="item" data-tab="crew">{{localize "SW5E.VehicleCrew"}}</a>
    <a class="item" data-tab="cargo">{{ localize "SW5E.VehicleCargo" }}</a>
    <a class="item" data-tab="equipment">{{ localize "SW5E.Equipment" }}</a>
    <a class="item" data-tab="features">{{ localize "SW5E.Features" }}</a>
    <a class="item" data-tab="effects">{{ localize "SW5E.Effects" }}</a>
  </nav>

  {{!-- Starship Sheet Body --}}
  <section class="sheet-body">
    <section class="tab core" data-group="primary" data-tab="attributes">
      <section class="panel abilities">
        {{!-- Ability Scores --}}
        <section class="scores">
          <h1>{{localize "SW5E.AbilityScorePl"}}</h1>
          <ol class="score-list">
            {{#each abilities as |ability id|}}
              <li class="score{{#if ability.proficient}} proficient{{/if}}" data-ability="{{id}}">
                <h2 class="ability-name rollable">{{ability.label}}</h2>
                <input type="text" name="system.abilities.{{id}}.value" value="{{ability.value}}"
                     class="ability-score" placeholder="10" data-dtype="Number">
                <div class="ability-modifiers">
                  <span class="ability-mod" data-tooltip="SW5E.Modifier">
                    {{numberFormat ability.mod decimals=0 sign=true}}
                  </span>
                  <input
                    type="hidden"
                    name="system.abilities.{{id}}.proficient"
                    value="{{ability.baseProf}}"
                    data-dtype="Number"
                  />
                  <button class="proficiency-toggle ability-proficiency" data-tooltip="Proficiency">
                    {{{ability.icon}}}
                  </button>
                  <span class="ability-save" data-tooltip="SW5E.SavingThrow">
                    {{numberFormat ability.save decimals=0 sign=true}}
                  </span>
                </div>
                <a class="config-button" data-action="ability" data-tooltip="SW5E.AbilityConfigure">
                  <i class="fas fa-cog"></i>
                </a>
              </li>
            {{/each}}
          </ol>
        </section>
        {{!-- Skills --}}
        <section class="skills">
          <h1>{{localize "SW5E.Skills" }}</h1>
          <ol>
            {{#each config.starshipSkills as |obj s|}} {{#with (lookup ../skills s) as |skill|}}
            <li class="proficiency-row skill {{#if skill.value}}proficient{{/if}}" data-property="skills" data-key="{{s}}">
              <input type="hidden" name="system.skills.{{s}}.value" value="{{skill.baseValue}}" data-dtype="Number" />
              <input type="hidden" name="system.skills.{{s}}.ability" value="{{skill.ability}}">
              <a class="proficiency-toggle skill-proficiency" data-tooltip="{{skill.hover}}">{{{skill.icon}}}</a>
              <div class="skill-name-controls">
                <span class="skill-name rollable">{{skill.label}}</span>
                <a class="config-button" data-action="skill" data-tooltip="SW5E.SkillConfigure">
                  <i class="fas fa-cog"></i>
                </a>
              </div>
              <span class="skill-ability">{{skill.ability}}</span>
              <span class="skill-mod" data-tooltip="{{localize 'SW5E.SkillModifierHint' skill=label}}">
                {{numberFormat skill.total decimals=0 sign=true}}
              </span>
              <!-- <input
                class="skill-bonus"
                name="system.skills.{{s}}.bonus"
                type="text"
                value="{{numberFormat skill.bonus decimals=0 sign=true}}"
                data-dtype="Number"
                placeholder="0"
                title="Misc. Modifier"
              /> -->
              <!-- <span class="skill-passive" data-tooltip="{{localize 'SW5E.SkillPassiveHint' skill=label}}">
                ({{skill.passive}})
              </span> -->
            </li>
            {{/with}} {{/each}}
          </ol>
          <section class="traits">
            <div>
              <label>{{localize "SW5E.HullDamImm"}}</label>
              <a
                class="trait-selector"
                data-trait="di"
                data-tooltip="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.HullDamImm')}}"
                tabindex="0"
              >
                <i class="fas fa-edit"></i>
              </a>
              <!-- <ul class="traits-list">
                {{#each system.traits.di.selected as |v k|}}
                  <li>{{v}}</li>
                {{/each}}
              </ul> -->
            </div>
            <div>
              <label>{{localize "SW5E.HullDamRes"}}</label>
              <a
                class="trait-selector"
                data-trait="dr"
                data-tooltip="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.HullDamRes')}}"
                tabindex="0"
              >
                <i class="fas fa-edit"></i>
              </a>
              <!-- <ul class="traits-list">
                {{#each system.traits.dr.selected as |v k|}}
                  <li>{{v}}</li>
                {{/each}}
              </ul> -->
            </div>
            <div>
              <label>{{localize "SW5E.HullDamVuln"}}</label>
              <a
                class="trait-selector"
                data-trait="dv"
                data-tooltip="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.HullDamVuln')}}"
              >
                <i class="fas fa-edit"></i>
              </a>
              <!-- <ul class="traits-list">
                {{#each system.traits.dv.selected as |v k|}}
                  <li>{{v}}</li>
                {{/each}}
              </ul> -->
            </div>
            <div>
              <label>{{localize "SW5E.ShldDamImm"}}</label>
              <a
                class="trait-selector"
                data-trait="sdi"
                data-tooltip="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.ShldDamImm')}}"
                tabindex="0"
              >
                <i class="fas fa-edit"></i>
              </a>
              <!-- <ul class="traits-list">
                {{#each system.traits.sdi.selected as |v k|}}
                  <li>{{v}}</li>
                {{/each}}
              </ul> -->
            </div>
            <div>
              <label>{{localize "SW5E.ShldDamRes"}}</label>
              <a
                class="trait-selector"
                data-trait="sdr"
                data-tooltip="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.ShldDamRes')}}"
                tabindex="0"
              >
                <i class="fas fa-edit"></i>
              </a>
              <!-- <ul class="traits-list">
                {{#each system.traits.sdr.selected as |v k|}}
                  <li>{{v}}</li>
                {{/each}}
              </ul> -->
            </div>
            <div>
              <label>{{localize "SW5E.ShldDamVuln"}}</label>
              <a
                class="trait-selector"
                data-trait="sdv"
                data-tooltip="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.ShldDamVuln')}}"
              >
                <i class="fas fa-edit"></i>
              </a>
              <!-- <ul class="traits-list">
                {{#each system.traits.sdv.selected as |v k|}}
                  <li>{{v}}</li>
                {{/each}}
              </ul> -->
            </div>
          </section>
        </section>
      </section>

      <section class="panel traits-resources">
        <h1>{{localize "SW5E.ResourcesAndTraits"}}</h1>
        <div class="traits cargo-fuel">
          <table>
            <tr>
              <td>
                <label>
                  {{localize "SW5E.VehicleCargoCapacity"}}: {{system.attributes.equip.size.cargoCap}} tons
                </label>
              </td>
              <td>
                <label>
                  {{localize "SW5E.CrewCap"}}: {{system.attributes.equip.size.crewMinWorkforce}}
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label>
                  {{localize "SW5E.FuelCostPerUnit"}}: {{system.attributes.fuel.cost}} cr/unit
                </label>
              </td>
              <td>
                <button type="button" class="rest long-rest burnfuel" style="width:40%;" data-tooltip="SW5E.BurnFuelDesc">
                  {{ localize "SW5E.BurnFuel" }}
                </button>
                <button type="button" class="rest long-rest refuel" style="width:40%;" data-tooltip="SW5E.Refuel">
                  {{ localize "SW5E.Refuel" }}
                </button>
              </td>
            </tr>
          </table>
          <label>{{localize "SW5E.FuelCapacity"}}</label>
          {{#with system.attributes.fuel}}
            <div class="fuel-wrapper" data-tooltip="Fuel">
              <div class="fuel {{#if fueled}}fueled{{/if}}">
                <span class="fuel-bar" style="width:{{pct}}%"></span>

                <i class="fuel-breakpoint fuel-20 arrow-up"></i>
                <i class="fuel-breakpoint fuel-20 arrow-down"></i>
                <i class="fuel-breakpoint fuel-40 arrow-up"></i>
                <i class="fuel-breakpoint fuel-40 arrow-down"></i>
                <i class="fuel-breakpoint fuel-60 arrow-up"></i>
                <i class="fuel-breakpoint fuel-60 arrow-down"></i>
                <i class="fuel-breakpoint fuel-80 arrow-up"></i>
                <i class="fuel-breakpoint fuel-80 arrow-down"></i>
              </div>
              <span class="fuel-label">{{value}} / {{fuelCap}} units</span>
            </div>
          {{/with}}
        </div>
        <h1>{{localize "SW5E.PowerRouting"}}</h1>
        <div class="traits power-routing">
          <table>
            <tr>
              {{#each config.powerRoutingOpts as | text id |}}
              {{#with (lookup @root/routing id) as | routing |}}
                <td align="center"><strong>{{localize text}}</strong></td>
                <td rowspan=3><input type="range" orient="vertical" class="vertslider powerslider {{id}}" data-id="{{id}}" 
                  value="{{routing.value}}" step="1" min="0" max="2"></td>
              {{/with}}
              {{/each}}
            </tr>
            <tr>
              {{#each config.powerRoutingOpts as | text id |}}
              {{#with (lookup @root/routing id) as | routing |}}
                <td rowspan=2 align="center"><strong><output id="{{id}}slideroutput" data-tooltip="{{routing.effect}}">{{routing.symbol}}</output></td>
              {{/with}}
              {{/each}}
            </tr>
            <tr></tr>
          </table>

          <table>
            <tr>
              <th colspan=3 align="left">{{localize "SW5E.PowerDieAlloc"}}</th>
              <th colspan=3 align="right">
                <label class="rollPowerDie rollable" data-action="rollPowerDie">
                  {{localize "SW5E.PowerDie"}}: {{system.attributes.power.die}}
                </label>
              </th>
            </tr>
            <tr>
              {{#each config.powerDieSlots as | text val |}}
                <th class="top">
                  <div class="rollPowerDie rollable" data-action="rollPowerDie" data-location={{val}}>{{ localize text }}</div>
                </th>
              {{/each}}
            </tr>
            <tr>
              {{#each config.powerDieSlots as | text val |}}
              {{#with (lookup ../system.attributes.power val) as |slot|}}
                <td class="bottom">
                  <div class="attribute-value multiple">
                    <input
                      name="system.attributes.power.{{val}}.value"
                      type="text"
                      class="value-number"
                      value="{{slot.value}}"
                      placeholder="0"
                      data-tooltip="SW5E.PowerDiceCur"
                      data-dtype="Number"
                    >
                    <span class="value-separator">/</span>
                    <span class="value-number" data-tooltip="SW5E.PowerDiceMax">
                      {{slot.max}}
                    </span>
                  </div>
                </td>
              {{/with}}
              {{/each}}
            </tr>
          </table>
        </div>
        <section class="resources">
          <div class="counters">
            <div class="counter">
              <h4 class="death-save rollable" data-action="rollDestructionSave">{{ localize "SW5E.DestructionSave" }}</h4>
              <div class="counter-value">
                <div class="death-success">
                  <i class="fas fa-check"></i>
                  {{numberInput system.attributes.death.success name="system.attributes.death.success" placeholder="0"}}
                </div>
                <div class="death-fail">
                  <i class="fas fa-times"></i>
                  {{numberInput system.attributes.death.failure name="system.attributes.death.failure" placeholder="0"}}
                </div>
              </div>
            </div>
            <div class="counter">
              <h4>{{ localize "SW5E.SystemDamage" }}</h4>
              <div class="counter-value">
                {{numberInput system.attributes.systemDamage name="system.attributes.systemDamage" placeholder="0"}}
              </div>
            </div>
            <div class="counter">
              <h4>{{ localize "SW5E.SystemDamageUsed" }}</h4>
              <div class="counter-value">
                <input
                  type="checkbox"
                  name="system.attributes.used"
                  data-dtype="Boolean"
                  {{checked system.attributes.used}}
                />
              </div>
            </div>
          </div>
        </section>
        <h1>{{localize "SW5E.StarshipmodPl"}}</h1>
        <section class="traits">
          <div><label>
            {{localize "SW5E.ModCap"}}: {{system.attributes.mods.cap.value}} / {{system.attributes.mods.cap.max}}
          </label></div>
          <div><label>
            {{localize "SW5E.SuiteCap"}}: {{system.attributes.mods.suite.value}} / {{system.attributes.mods.suite.max}}
          </label></div>
          <div><label>
            {{localize "SW5E.HardpointsPerRound"}}: {{system.attributes.mods.hardpoint.max}}
          </label></div>
          <div><label>
            {{localize "SW5E.DmgRed"}}: {{system.attributes.equip.armor.dr}}
          </label></div>
        </section>
      </section>
    </section>

    {{!-- Crew --}}
    <div class="tab crew flexcol" data-group="primary" data-tab="crew">
      {{> "sw5e.swalt-crew"}}
    </div>

    {{!-- Cargo --}}
    <div class="tab cargo flexcol" data-group="primary" data-tab="cargo">
      {{> "sw5e.swalt-inventory" sections=inventory showCurrency="true"}}
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab equipment flexcol" data-group="primary" data-tab="equipment">
      {{> "sw5e.swalt-inventory" sections=equipment showFiringArc="true"}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab features flexcol" data-group="primary" data-tab="features">
      {{> "sw5e.swalt-features" sections=features}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "sw5e.swalt-active-effects"}}
    </div>

  </section>
</form>