<li class="item group-grid-fav-items" data-item-id="{{item.id}}">
    <div class="item-name rollable">
        <div class="item-image" style="background-image: url({{item.img}})"></div>
        <h4>{{item.name}}</h4>
    </div>

    <div class="item-detail item-uses">
        {{#if item.system.uses.max}}
            {{item.system.uses.value}}
            /
            {{item.system.uses.max}}
        {{/if}}
    </div>

    <div class="item-detail item-count">
        {{#if item.system.quantity}}
            {{item.system.quantity}}
        {{/if}}
    </div>

    <div class="item-detail item-comps">
        {{#if item.powerComps}}
            {{item.powerComps}}
            {{#if item.powerCon}}<i class="fas fa-copyright"></i>{{/if}}
            {{#if item.powerRit}}<i class="fas fa-registered"></i>{{/if}}
        {{/if}}
    </div>

    <div class="item-detail item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-fav" title="Remove"><i class="fas fa-sign-out-alt"></i></a>
    </div>
</li>