<form class="{{cssClass}} swalt-sheet" autocomplete="off">
    {{!-- Starship Sheet Header --}}
    <header class="panel">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
		{{> "sw5e.swalt-warnings"}}
        <h1 class="character-name">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'SW5E.Name' }}" />
        </h1>
        <div class="level-experience">
            <div class="charlevel">
                {{ localize "SW5E.StarshipTier" }}
                <input name="system.details.tier" type="text" value="{{system.details.tier}}" placeholder="0" />
            </div>
        </div>
        <div class="summary">
			<span class="summary-input" style="text-transform: capitalize;font-family: 'Russo One';display: inline; height: auto; font-size: 17px; font-weight: 400; letter-spacing: 0.5px; line-height: 24px; color: #4f4f4f;">{{lookup config.actorSizes system.traits.size}}</span>
            <input type="text" name="system.details.source" value="{{system.details.source}}" placeholder="{{ localize 'SW5E.Source' }}" />
            <div class="proficiency">{{ localize "SW5E.Proficiency" }} {{labels.proficiency}}</div>
        </div>
        <div class="attributes">
			{{!-- ARMOR CLASS --}}
			<section class="attrib armor" style="box-sizing: border-box; width: 150px;">
                <h1 class="attribute-name armor">{{ localize "SW5E.ArmorClass" }}
                    <a class="config-button" data-action="armor" title="{{localize 'SW5E.ArmorConfig'}}"
                    ><i class="fas fa-cog"></i
                ></a>
                </h1>
                <div class="attribute-value attributable" data-property="attributes.ac">
                    <span>{{system.attributes.ac.value}}</span>
                </div>
				<footer class="attribute-footer hit-dice" style="grid-template-columns: 1fr 1fr 1fr; column-gap: 4px;">
					<button type="button" class="rest recharge-repair">{{ localize "SW5E.Recharge" }}</button>
					<button type="button" class="rest refitting-repair">{{ localize "SW5E.Refitting" }}</button>
					<button type="button" class="rest regen-repair">{{ localize "SW5E.ShieldRegen" }}</button>
				</footer>
			</section>

			{{!-- HULL POINTS --}}
			<section class="attrib health" style="box-sizing: border-box; width: 150px;">
                <h1 class="attribute-name rollable">{{ localize "SW5E.HullPoints" }}</h1>
                <div class="attribute-value multiple">
                    <input name="system.attributes.hp.value" type="number" step="any"
                    value="{{system.attributes.hp.value}}" placeholder="10"
                        title="{{localize 'SW5E.HullPointsCurrent'}}">
                    <span class="value-separator">/</span>
                        <input name="system.attributes.hp.max" type="number" step="any"
                        value="{{system.attributes.hp.max}}" placeholder="10"
                        title="{{localize 'SW5E.HullPointsMax'}}">
                </div>
                <footer class="attribute-footer" style="line-height: 12px; height: 12px; text-align: center; font-family: 'Russo One';">
                    <!--<input name="system.attributes.hull.formula" class="hpformula" type="text"
                            placeholder="{{ localize 'SW5E.HullPointsFormula' }}" value="{{system.attributes.hull.formula}}" style="min-width: 150px;" /> -->
						 <strong>{{localize "SW5E.HullDice"}}:</strong> {{system.attributes.hull.dice}} of {{system.attributes.hull.dicemax}}{{system.attributes.hull.die}}
                </footer>
            </section>
			
			{{!-- SHIELD POINTS --}}
			<section class="attrib health" style="box-sizing: border-box; width: 150px;">
                <h1 class="attribute-name rollable">{{ localize "SW5E.ShieldPoints" }}</h1>
                <div class="attribute-value multiple">
                    <input name="system.attributes.hp.temp" type="number" step="any" 
                    value="{{round system.attributes.hp.temp}}" placeholder="0"
                    title="{{localize 'SW5E.ShieldPointsCurrent'}}">
                    <span class="value-separator">/</span>
                    <input name="system.attributes.hp.tempmax" type="number" step="any"
                    value="{{round system.attributes.hp.tempmax}}" placeholder="0"
                    title="{{localize 'SW5E.ShieldPointsMax'}}">
                </div>
                <footer class="attribute-footer" style="line-height: 12px; height: 12px; text-align: center; font-family: 'Russo One';{{#if isShieldDepleted}} color: #c40f0f;"> 
                            <strong> {{localize "SW5E.ShieldDepleted"}} </strong>
                        {{else}}
                            "><strong>{{localize "SW5E.ShieldDice"}}: </strong> {{system.attributes.shld.dice}} of {{system.attributes.shld.dicemax}}{{system.attributes.shld.die}}
                        {{/if}}
                </footer>
            </section>			
			
            <section class="attrib movement" style="box-sizing: border-box; width: 150px;">
                <h1 class="attribute-name movement">{{ localize "SW5E.Movement" }}
                    <a class="config-button" data-action="movement" title="{{localize 'SW5E.MovementConfig'}}"><i class="fas fa-cog"></i></a>
                </h1>
                <div class="attribute-value">
                    <span>{{system.attributes.movement.space}} {{system.attributes.movement.units}}</span>
                </div>
                <footer class="attribute-footer" style="font-family: 'Russo One'; text-align: center;">
                    <span>Turning Speed: {{system.attributes.movement.turn}} {{system.attributes.movement.units}}</span>
                </footer>
            </section>
        </div>

    </header>

    {{!-- Starship Sheet Navigation --}}
    <nav class="sheet-navigation root-tabs" style="grid-template-columns: repeat(6, 1fr);" data-group="primary">
        <button class="item active" data-tab="attributes">{{ localize "SW5E.Attributes" }}</button>
        <button class="item" data-tab="crew">{{localize 'SW5E.VehicleCrew'}}</button>
        <button class="item" data-tab="cargo">{{ localize "SW5E.VehicleCargo" }}</button>
        <button class="item" data-tab="equipment">{{ localize "SW5E.Equipment" }}</button>
        <button class="item" data-tab="features">{{ localize "SW5E.Features" }}</button>
        <button class="item" data-tab="effects">{{ localize "SW5E.Effects" }}</button>
    </nav>

    {{!-- Starship Sheet Body --}}
    <section class="sheet-body">
        <section class="tab core" data-group="primary" data-tab="attributes">
            <section class="panel abilities">
                {{!-- Ability Scores --}}
                <section class="scores">
                    <h1>{{localize "SW5E.AbilityScores"}}</h1>
                    <div class="score-list">
                        {{#each system.abilities as |ability id|}}
                        <div class="score" data-ability="{{id}}">
                            <h2 class="ability-name rollable">{{ability.label}}</h2>
                            {{numberInput ability.value name=(concat "system.abilities." id ".value")
                        class="ability-score" placeholder="10"}}
                            <div class="ability-modifiers">
                                <span class="ability-mod" title="{{ localize 'SW5E.Modifier' }}"
                                    >{{numberFormat ability.mod decimals=0 sign=true}}</span
                                >
                                <input
                                    type="hidden"
                                    name="system.abilities.{{id}}.proficient"
                                    value="{{ability.baseProf}}"
                                    data-dtype="Number"
                                />
                                <button class="proficiency-toggle ability-proficiency" title="Proficiency">
                                    {{{ability.icon}}}
                                </button>
                                <span class="ability-save" title="{{ localize 'SW5E.SavingThrow' }}"
                                    >{{numberFormat ability.save decimals=0 sign=true}}</span
                                >
                            </div>
                            <a class="config-button" data-action="ability" title="{{localize 'SW5E.AbilityConfigure'}}">
                                <i class="fas fa-cog"></i>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </section>
                {{!-- Skills --}}
                <section class="skills">
                    <h1>{{localize "SW5E.Skills" }}</h1>
                    <ol>
                        {{#each config.starshipSkills as |obj s|}} {{#with (lookup ../system.skills s) as |skill|}}
                        <li class="skill {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
                            <input type="hidden" name="system.skills.{{s}}.value" value="{{skill.baseValue}}" data-dtype="Number" />
                            <button class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</button>
                            <div class="skill-name-controls">
                                <span class="skill-name rollable">{{skill.label}}</span>
                                <a class="config-button" data-action="skill" title="{{localize 'SW5E.SkillConfigure'}}"
                                    ><i class="fas fa-cog"></i
                                ></a>
                            </div>
                            <span class="skill-ability">{{skill.ability}}</span>
                            <span class="skill-mod" title="{{ localize 'SW5E.SkillModifierHint' skill=label }}"
                                >{{numberFormat skill.total decimals=0 sign=true}}</span
                            >
                            {{!--
                            <input
                                class="skill-bonus"
                                name="system.skills.{{s}}.bonus"
                                type="text"
                                value="{{numberFormat skill.bonus decimals=0 sign=true}}"
                                data-dtype="Number"
                                placeholder="0"
                                title="Misc. Modifier"
                            />
                            --}} {{!--
                            <span class="skill-passive" title="{{ localize 'SW5E.SkillPassiveHint' skill=label }}"
                                >({{skill.passive}})</span
                            >
                            --}}
                        </li>
                        {{/with}} {{/each}}
                    </ol>
                    <section class="traits">
                        <div>
                            <label>{{localize "SW5E.HullDamImm"}}</label>
                            <a
                                class="trait-selector"
                                data-options="damageTypes"
                                data-target="system.traits.di"
                                title="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.HullDamImm')}}"
                                tabindex="0"
                            >
                                <i class="fas fa-edit"></i>
                            </a>
                            <!-- <ul class="traits-list">
                                {{#each system.traits.di.selected as |v k|}}
                                <li>{{v}}</li>
                                {{/each}}
                            </ul> -->
                        </div>
                        <div>
                            <label>{{localize "SW5E.HullDamRes"}}</label>
                            <a
                                class="trait-selector"
                                data-options="damageTypes"
                                data-target="system.traits.dr"
                                title="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.HullDamRes')}}"
                                tabindex="0"
                            >
                                <i class="fas fa-edit"></i>
                            </a>
                            <!-- <ul class="traits-list">
                                {{#each system.traits.dr.selected as |v k|}}
                                <li>{{v}}</li>
                                {{/each}}
                            </ul> -->
                        </div>
                        <div>
                            <label>{{localize "SW5E.HullDamVuln"}}</label>
                            <a
                                class="trait-selector"
                                data-options="damageTypes"
                                data-target="system.traits.dv"
                                title="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.HullDamVuln')}}"
                            >
                                <i class="fas fa-edit"></i>
                            </a>
                            <!-- <ul class="traits-list">
                                {{#each system.traits.dv.selected as |v k|}}
                                <li>{{v}}</li>
                                {{/each}}
                            </ul> -->
                        </div>
                        <div>
                            <label>{{localize "SW5E.ShldDamImm"}}</label>
                            <a
                                class="trait-selector"
                                data-options="damageTypes"
                                data-target="system.traits.sdi"
                                title="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.ShldDamImm')}}"
                                tabindex="0"
                            >
                                <i class="fas fa-edit"></i>
                            </a>
                            <!-- <ul class="traits-list">
                                {{#each system.traits.sdi.selected as |v k|}}
                                <li>{{v}}</li>
                                {{/each}}
                            </ul> -->
                        </div>
                        <div>
                            <label>{{localize "SW5E.ShldDamRes"}}</label>
                            <a
                                class="trait-selector"
                                data-options="damageTypes"
                                data-target="system.traits.sdr"
                                title="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.ShldDamRes')}}"
                                tabindex="0"
                            >
                                <i class="fas fa-edit"></i>
                            </a>
                            <!-- <ul class="traits-list">
                                {{#each system.traits.sdr.selected as |v k|}}
                                <li>{{v}}</li>
                                {{/each}}
                            </ul> -->
                        </div>
                        <div>
                            <label>{{localize "SW5E.ShldDamVuln"}}</label>
                            <a
                                class="trait-selector"
                                data-options="damageTypes"
                                data-target="system.traits.sdv"
                                title="{{localize 'SW5E.TraitConfig' trait=(localize 'SW5E.ShldDamVuln')}}"
                            >
                                <i class="fas fa-edit"></i>
                            </a>
                            <!-- <ul class="traits-list">
                                {{#each system.traits.sdv.selected as |v k|}}
                                <li>{{v}}</li>
                                {{/each}}
                            </ul> -->
                        </div>
                    </section>
                </section>
            </section>

            <section class="panel resources">
				<h1>Resources and Traits</h1>
				<div class="traits">
                    <table style="border: none; background: none;">
                        <tr>
                        <td>
                            <label>
                                {{localize "SW5E.VehicleCargoCapacity"}}: {{system.attributes.equip.size.cargoCap}} tons
                            </label>
                        </td>
                        <td>
                            <label>
                                {{localize "SW5E.CrewCap"}}: {{system.attributes.equip.size.crewMinWorkforce}}
                            </label>

                        </td>
                        </tr>
                        <tr>
                        <td>
                            <label>
                                {{localize "SW5E.FuelCostPerUnit"}}: {{system.attributes.fuel.cost}} cr/unit
                            </label>
                        </td>
                        <td>
                            <button type="button" class="rest long-rest burnfuel" style="width:40%;" title="Burn 1 Unit of Fuel">{{ localize "SW5E.BurnFuel" }}</button>&nbsp;&nbsp;
                            <button type="button" class="rest long-rest refuel" style="width:40%;" title="Refuel">{{ localize "SW5E.Refuel" }}</button>					  
                        </td>
                        </tr>
                    </table>
                        <label>
                            {{localize "SW5E.FuelCapacity"}}
                        </label>
                    {{#with system.attributes.fuel}}
                        <div class="fuel-wrapper" title="Fuel">
                            <div class="fuel {{#if fueled}}fueled{{/if}}">
                                <span class="fuel-bar" style="width:{{pct}}%"></span>

                                <i class="fuel-breakpoint fuel-20 arrow-up"></i>
                                <i class="fuel-breakpoint fuel-20 arrow-down"></i>
                                <i class="fuel-breakpoint fuel-40 arrow-up"></i>
                                <i class="fuel-breakpoint fuel-40 arrow-down"></i>
                                <i class="fuel-breakpoint fuel-60 arrow-up"></i>
                                <i class="fuel-breakpoint fuel-60 arrow-down"></i>
                                <i class="fuel-breakpoint fuel-80 arrow-up"></i>
                                <i class="fuel-breakpoint fuel-80 arrow-down"></i>
                            </div>
                            <span class="fuel-label">{{value}} / {{fuelCap}} units</span>
                        </div>
                    {{/with}}
                    <!--<label>
                        {{localize "SW5E.CentStorageCapacity"}}: <input class="hpformula" style="max-width:30px;" name="system.attributes.cscap" value="{{system.attributes.cscap}}" placeholder="0" />
                    </label>
                    <label>
                        {{localize "SW5E.SysStorageCapacity"}}: <input class="hpformula" style="max-width:30px;" name="system.attributes.sscap" value="{{system.attributes.sscap}}" placeholder="0" />
                    </label> -->
                    </div>
                        <h1>{{localize "SW5E.PowerRouting"}}</h1>
                    <div class="traits">
                    <table style="border:none;">
                        <tr>
                            {{#each config.powerRoutingOpts as | text id |}}
                                <td align="center"><strong>{{localize text}}</strong></td>
                                <td rowspan=3><input type="range" orient="vertical" class="vertslider powerslider {{id}}" data-id="{{id}}" value={{lookup system.attributes.power.routing id}} step="1" min="0" max="2" ></td>
                            {{/each}}
                        </tr>
                        <tr>
                            {{#each config.powerRoutingOpts as | text id |}}
                                {{#with (lookup ../config.powerRoutingEffects id) as |effects|}}
                                <td rowspan=2 align="center"><strong><output for=value id="{{id}}slideroutput" title="{{effects.neutral}}">=</output></td>
                                {{/with}}
                            {{/each}}
                        </tr>
                        <tr></tr>
                    </table>

                    <!--<label>
                        {{localize "SW5E.EnginePl"}}: 
						<select name="system.attributes.engpow">
						{{#select system.attributes.engpow}}					
						  <option value="1">&#61;</option>
						  <option value="2">&#8593;</option>
						  <option value="0.5">&#8595;</option>
						{{/select}}
						</select>
                    </label>
                    <label>
                        {{localize "SW5E.EquipmentShieldProficiency"}}: 
						<select name="system.attributes.shieldpow">
						{{#select system.attributes.shieldpow}}
						  <option value="1">&#61;</option>
						  <option value="2">&#8593;</option>
						  <option value="0.5">&#8595;</option>
						{{/select}}
						</select>
                    </label>
                    <label>
                        {{localize "SW5E.ItemTypeWeaponPl"}}: 
						<select name="system.attributes.weaponpow">
						{{#select system.attributes.weaponpow}}
						  <option value="1">&#61;</option>
						  <option value="2">&#8593;</option>
						  <option value="0.5">&#8595;</option>
						{{/select}}
						</select>
                    </label>
					<br /> -->
					<table style="border: none; width: 400px;">
					  <tr><th colspan=3 align="left">{{localize "SW5E.PowerDieAlloc"}}</th><th colspan=3 align="right">
					  	<label class="rollPowerDie rollable" data-action="rollPowerDie">
                            {{localize "SW5E.PowerDie"}}: {{system.attributes.power.die}}
                        </label>
				      </tr>
 					  <tr>
                        {{#each config.powerDieSlots as | text val |}}
                        <th style="border-top: 2px solid #0d99cc; border-left: 2px solid #0d99cc; border-right: 2px solid #0d99cc;">
                            <div class="rollPowerDie rollable" data-action="rollPowerDie" data-location={{val}}>{{ localize text }}</div>
                        </th>
                        {{/each}}
                      <tr>
                        {{#each config.powerDieSlots as | text val |}}
                        {{#with (lookup ../system.attributes.power val) as |slot|}}
                        <td style="border-bottom: 2px solid #0d99cc; border-left: 2px solid #0d99cc; border-right: 2px solid #0d99cc;">
                            <input class="hpformula" style="max-width:25px;" name="system.attributes.power.{{val}}.value" value="{{slot.value}}" placeholder="0" /> / {{slot.max}}
                        </td>
                        {{/with}}
                        {{/each}}
                      </tr>
					</table>
					</label>
				</div>
				<section class="counters" style="border: none; margin: 8px 0; display: grid; grid-template-columns: repeat(3, 1fr);">
                    <div class="counter">
                        <h4 class="death-save rollable" data-action="rollDestructionSave">{{ localize "SW5E.DestructionSave" }}</h4>
                        <div class="counter-value" style="text-align: left;">
                            <div class="death-success" style="color: #0dce0d;">
                                <i class="fas fa-check"></i>
                                  {{numberInput system.attributes.death.success name="system.attributes.death.success"
                                placeholder="0"}}
                            </div>
                            <div class="death-fail" style="color: #c40f0f;">
                                <i class="fas fa-times"></i>
                    {{numberInput system.attributes.death.failure name="system.attributes.death.failure"
                                placeholder="0"}}
                            </div>
                        </div>
                    </div>
                    <div class="counter">
                        <h4>{{ localize "SW5E.SystemDamage" }}</h4>
                        <div class="counter-value" style="text-align: left;">
                                            {{numberInput system.attributes.systemDamage name="system.attributes.systemDamage"
                                placeholder="0"}}
                        </div>
                    </div>
                    <div class="counter">
                        <h4>{{ localize "SW5E.SystemDamageUsed" }}</h4>
                        <div class="counter-value">
                            <input
                                type="checkbox"
                                name="system.attributes.used"
                                data-dtype="Boolean"
                                {{checked
                                system.attributes.used}}
                            />
                        </div>
                    </div>
                </section>
				  <h1>{{localize "SW5E.StarshipmodPl"}}</h1>
				<div class="traits">
                    <div><label>
                        {{localize "SW5E.ModCap"}}: {{system.attributes.mods.cap.value}} / {{system.attributes.mods.cap.max}}
                    </label>
                    </div>
                    <div><label>
                        {{localize "SW5E.SuiteCap"}}: {{system.attributes.mods.suite.value}} / {{system.attributes.mods.suite.max}}
                    </label></div>
                    <div><label>
                        {{localize "SW5E.HardpointsPerRound"}}: {{system.attributes.mods.hardpoint.max}}
                    </label></div>
                    <div><label>
                        {{localize "SW5E.DmgRed"}}: {{system.attributes.equip.armor.dr}}
                    </label></div>
                </div>
            </section>
        </section>

        {{!-- Crew --}}
        <div class="tab crew flexcol" data-group="primary" data-tab="crew">
            {{> "sw5e.swalt-crew"}}
        </div>
        
        {{!-- Cargo --}}
        <div class="tab cargo flexcol" data-group="primary" data-tab="cargo">
            {{> "sw5e.swalt-inventory" sections=inventory}}
        </div>
        
        {{!-- Equipment Tab --}}
        <div class="tab equipment flexcol" data-group="primary" data-tab="equipment">
            {{> "sw5e.swalt-features" sections=equipment isStarshipEquipment="true"}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "sw5e.swalt-features" sections=features}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "sw5e.swalt-active-effects"}}
        </div>

    </section>
</form>