<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <div class="composed-icon profile">
            {{#if item.iconBackground}}<img class="profile background" src="{{item.iconBackground}}"/>{{/if}}
            <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img" />
            {{#if item.iconForeground}}<img class="profile foreground" src="{{item.iconForeground}}"/>{{/if}}
        </div>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SW5E.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li style="flex-basis: 80px;">
                    {{ localize (lookup config.modificationTypes system.modificationType) }}
                </li>
                <li>
                    <select name="system.rarity">
                        {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                    </select>
                </li>
                <li>
                    {{> "sw5e.item-source"}}
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SW5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SW5E.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "SW5E.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "sw5e.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SW5E.ItemModificationDetails" }}</h3>

            {{!-- Modification Type --}}
            <div class="form-group">
                <label>{{ localize "SW5E.ItemModificationType" }}</label>
                <select name="system.modificationType">
                    {{selectOptions config.modificationTypes selected=system.modificationType}}
                </select>
            </div>

            {{!-- Modification Slot --}}
            <div class="form-group">
                {{#if usesSlot}}
                    <label>{{ localize "SW5E.ItemModificationSlot" }}</label>
                    <select name="system.modificationSlot">
                        {{#with (lookup config.modificationSlots system.modificationType) as |modSlots| }}
                            {{selectOptions modSlots selected=../system.modificationSlot}}
                        {{/with}}
                    </select>
                {{/if}}
            </div>

            {{!-- Weapon/Equipment Properties --}}
            {{#if (or properties propertiesNumeric)}}
                <h3 class="form-header">{{ localize "SW5E.ItemModificationPropertyPl" }}</h3>
                <div class="form-group stacked item-properties">
                    <label>{{ localize "SW5E.ItemProperties" }}</label>
                    {{#each properties}}
                        <label class="checkbox">
                            <input class="tristate-checkbox" type="checkbox" name="system.properties.{{@key}}" {{checked selected}}> {{ label }}
                        </label>
                    {{/each}}
                    {{#each propertiesNumeric}}
                        <label class="number">
                            {{ localize label }}<input type="text" name="system.properties.{{@key}}" value="{{value}}" data-dtype="Number">
                        </label>
                    {{/each}}
                </div>
            {{/if}}

            {{#if isWpnMod}}
                {{!-- Attack Roll Bonus --}}
                <div class="form-group">
                    <label>{{ localize "SW5E.ItemAttackBonus" }}</label>
                    <div class="form-fields">
                        <input type="text" name="system.attackBonus" value="{{system.attackBonus}}"/>
                    </div>
                </div>

                {{!-- Damage Formula --}}
                <h4 class="damage-header">
                    {{ localize "SW5E.Damage" }} {{ localize "SW5E.Formula" }}
                    <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
                </h4>
                <ol class="damage-parts form-group">
                    {{#each system.damage.parts as |part i| }}
                        <li class="damage-part flexrow" data-damage-part="{{i}}">
                            <input type="text" name="system.damage.parts.{{i}}.0" value="{{lookup this '0'}}" data-formula-editor/>
                            <select name="system.damage.parts.{{i}}.1">
                                {{#select (lookup this "1")}}
                                    <option value="">{{ localize "SW5E.None" }}</option>
                                    <optgroup label="{{localize 'SW5E.Damage'}}">
                                        {{selectOptions @root.config.damageTypes labelAttr="label"}}
                                    </optgroup>
                                    <optgroup label="{{localize 'SW5E.Healing'}}">
                                        {{selectOptions @root.config.healingTypes labelAttr="label"}}
                                    </optgroup>
                                {{/select}}
                            </select>
                            <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
                        </li>
                    {{/each}}
                </ol>
            {{/if}}

            {{#if isEquipMod}}
                {{!-- Armor Class --}}
                <div class="form-group">
                    <label>{{ localize "SW5E.ArmorClassBonus" }}</label>
                    <div class="form-fields">
                        <input type="text" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number" placeholder="{{ localize 'SW5E.None' }}"/>
                    </div>
                </div>

                {{!-- Dexterity Modifier --}}
                <div class="form-group">
                    <label>{{ localize "SW5E.ItemEquipmentDexMod" }}</label>
                    <div class="form-fields">
                        <input type="text" name="system.armor.dex" value="{{system.armor.dex}}" data-dtype="Number" placeholder="{{ localize 'SW5E.Unchanged' }}"/>
                    </div>
                </div>

                {{!-- Required Strength --}}
                <div class="form-group">
                    <label>{{ localize "SW5E.ItemRequiredStr" }}</label>
                    <div class="form-fields">
                        <input type="text" name="system.strength" value="{{system.strength}}" data-dtype="Number" placeholder="{{ localize 'SW5E.Unchanged' }}"/>
                    </div>
                </div>
            {{/if}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "sw5e.active-effects"}}
        </div>
    </section>
</form>
