<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SW5E.PowerName' }}">
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>{{labels.level}}</li>
                <li>{{labels.school}}</li>
                <li>
                    {{> "sw5e.item-source"}}
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SW5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SW5E.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "SW5E.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}} 
        {{> "sw5e.item-description"}} 

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SW5E.PowerDetails" }}</h3>

            {{!-- Power Level --}}
            <div class="form-group">
                <label>{{ localize "SW5E.PowerLevel" }}</label>
                <select name="system.level" data-dtype="Number">
                    {{#select system.level}} {{#each config.powerLevels as |name lvl|}}
                        <option value="{{lvl}}">{{name}}</option>
                    {{/each}} {{/select}}
                </select>
            </div>

            {{!-- Power School --}}
            <div class="form-group">
                <label>{{ localize "SW5E.PowerSchool" }}</label>
                <select name="system.school">
                    {{selectOptions config.powerSchools selected=system.school labelAttr="label" blank=""}}
                </select>
            </div>

            {{!-- Power Components --}}
            <div class="power-components form-group stacked">
                <label>{{ localize "SW5E.PowerComponents" }}</label>
                {{#each properties}}
                    <label class="checkbox">
                        <input type="checkbox" name="system.properties.{{@key}}" {{checked selected}}> {{ label }}
                    </label>
                {{/each}}
                {{#each propertiesNumeric}}
                    <label class="number">
                        {{ localize label }}<input type="text" name="system.properties.{{@key}}" value="{{value}}" data-dtype="Number">
                    </label>
                {{/each}}
            </div>

            {{!-- Material Components --}}
            <div class="form-group stacked">
                <label>{{ localize "SW5E.PowerMaterials" }}</label>
                <input class="materials" type="text" name="system.materials.value" value="{{system.materials.value}}">
                {{#if system.materials.value}}
                    <div class="power-materials flexrow">
                        <label>{{ localize "SW5E.Supply" }}</label>
                        {{numberInput system.materials.supply name="system.materials.supply" placeholder="0"}}
                        <label>{{ localize "SW5E.CostGP" }}</label>
                        {{numberInput system.materials.cost name="system.materials.cost" placeholder="&mdash;"}}
                        <label>{{ localize "SW5E.Consumed" }}</label>
                        <input type="checkbox" name="system.materials.consumed" {{checked system.materials.consumed}}>
                    </div>
                {{/if}}
            </div>

            {{!-- Preparation Mode --}}
            <div class="form-group input-select">
                <label>{{ localize "SW5E.PowerPreparationMode" }}</label>
                <div class="form-fields">
                    <label class="checkbox prepared">
                        {{ localize "SW5E.PowerPrepared" }}
                        <input type="checkbox" name="system.preparation.prepared" {{checked system.preparation.prepared}}>
                    </label>
                    <select name="system.preparation.mode">
                        {{ selectOptions config.powerPreparationModes selected=system.preparation.mode }}
                    </select>
                </div>
            </div>

            <h3 class="form-header">{{ localize "SW5E.PowerCastingHeader" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "sw5e.item-activation"}}

            <h3 class="form-header">{{ localize "SW5E.PowerEffects" }}</h3>

            {{!-- Item Action Template --}}
            {{> "sw5e.item-action"}}

            {{!-- Power Level Scaling --}}
            <div class="form-group">
                <label>{{ localize "SW5E.LevelScaling" }}</label>
                <div class="form-fields">
                    <select name="system.scaling.mode">
                        {{#select system.scaling.mode}} {{#each config.powerScalingModes as |name key|}}
                            <option value="{{key}}">{{name}}</option>
                        {{/each}} {{/select}}
                    </select>
                    <input
                        type="text"
                        name="system.scaling.formula"
                        value="{{system.scaling.formula}}"
                        placeholder="{{ localize 'SW5E.ScalingFormula' }}"
                        data-formula-editor
                    >
                </div>
            </div>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "sw5e.active-effects"}}
        </div>
    </section>
</form>
