<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <div class="composed-icon profile">
            {{#if item.iconBackground}}<img class="profile background" src="{{item.iconBackground}}"/>{{/if}}
            <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img" />
            {{#if item.iconForeground}}<img class="profile foreground" src="{{item.iconForeground}}"/>{{/if}}
        </div>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SW5E.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{lookup config.weaponClasses system.weaponClass }}
                </li>
                <li>
                    <select name="system.rarity">
                        {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                    </select>
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'SW5E.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SW5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SW5E.Details" }}</a>
        {{#unless isStarshipItem}}<a class="item" data-tab="modifications">{{ localize "SW5E.ModificationPl" }}</a>{{/unless}}
        <a class="item" data-tab="effects">{{ localize "SW5E.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "sw5e.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SW5E.ItemWeaponDetails" }}</h3>

            {{!-- Weapon Type --}}
            <div class="form-group">
                <label>{{ localize "SW5E.ItemWeaponType" }}</label>
                <select name="system.weaponType">
                    {{selectOptions config.weaponTypes selected=system.weaponType}}
                </select>
            </div>

            {{#if (or isRanged isMelee)}}
                {{!-- Weapon Class --}}
                <div class="form-group">
                    <label>{{ localize "SW5E.ItemWeaponClass" }}</label>
                    <select name="system.weaponClass">
                        {{#if isRanged}}
                            {{selectOptions config.rangedWeaponClasses selected=system.weaponClass blank=""}}
                        {{else if isMelee}}
                            {{selectOptions config.meleeWeaponClasses selected=system.weaponClass blank=""}}
                        {{/if}}
                    </select>
                </div>
            {{/if}}

            {{!-- Base Weapon --}}
            <div class="form-group">
                <label>{{ localize "SW5E.ItemWeaponBase" }}</label>
                <select name="system.baseItem">
                    {{selectOptions baseItems selected=system.baseItem blank=""}}
                </select>
            </div>

            <!-- {{!-- Starship Weapon Size --}}
            <div class="form-group">
                <label>{{ localize "SW5E.ItemWeaponSize" }}</label>
                <select name="system.weaponSize">
                    <option value="" selected disabled>Select Size</option>
                    {{#select system.weaponSize}} {{#each config.weaponSizes as |name size|}}
                        <option value="{{size}}">{{name}}</option>
                    {{/each}} {{/select}}
                </select>
            </div> -->

            {{#unless system.isMountable}}
                {{#unless isStarshipItem}}
                    <div class="form-group">
                        <label>{{localize "SW5E.Attunement"}}</label>
                        <select name="system.attunement" data-dtype="Number">
                            {{selectOptions config.attunements selected=system.attunement}}
                        </select>
                    </div>
                {{/unless}}

                {{#unless isStarshipItem}}
                    <div class="form-group">
                        <label>{{localize "SW5E.Proficiency"}}</label>
                        <select name="system.proficient" data-dtype="Number">
                            {{selectOptions config.weaponAndArmorProficiencyLevels selected=system.proficient blank=(localize "SW5E.Automatic")}}
                        </select>
                    </div>
                {{/unless}}

                {{!-- Weapon Status --}}
                <div class="form-group stacked">
                    <label>{{ localize "SW5E.ItemWeaponStatus" }}</label>
                    <div class="form-fields">
                        <label class="checkbox">
                            <input type="checkbox" name="system.equipped" {{checked system.equipped}}/> {{ localize "SW5E.Equipped" }}
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="system.identified" {{checked system.identified}}/> {{ localize "SW5E.Identified" }}
                        </label>
                    </div>
                </div>
            {{/unless}}

            {{!-- Weapon Properties --}}
            <div class="form-group stacked item-properties">
                <label>{{ localize "SW5E.ItemWeaponProperties" }}</label>
                {{#each propertiesList as |property key|}} {{#if (eq property.type "Boolean")}}
                    <label class="checkbox" data-tooltip="{{property.desc}}">
                        <input type="checkbox" name="system.properties.{{key}}" {{checked (lookup ../system.properties key)}}/>{{ localize property.name }}
                    </label>
                {{/if}} {{/each}}

                {{#each propertiesList as |property key|}} {{#if (eq property.type "Number")}}
                    <label class="number" data-tooltip="{{property.desc}}">
                        {{ localize property.name }}<input type="text" name="system.properties.{{key}}" value="{{lookup ../system.properties key}}" data-dtype="Number">
                    </label>
                {{/if}} {{/each}}
            </div>

            {{#if system.isMountable}}
                <div class="form-group">
                    <label>{{localize "SW5E.ArmorClass"}}</label>
                    <div class="form-fields">
                        {{numberInput system.armor.value name="system.armor.value"}}
                    </div>
                </div>

                {{> "sw5e.item-mountable"}}
            {{/if}}

            <h3 class="form-header">{{ localize "SW5E.ItemWeaponUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "sw5e.item-activation"}}

            {{!-- Weapon Reload --}}
            {{#if hasReload}}
                <div class="form-group uses-per">
                    <label>
                        <a class="weapon-configure-ammo" data-tooltip="SW5E.WeaponAmmoConfigureTitle"><i class="fas fa-tasks"></i></a>
                        {{ localize reloadLabel }}
                    </label>
                    <div class="form-fields">
                        {{#if reloadUsesAmmo}}
                            <select class="weapon-select-ammo" name="system.ammo.target" data-tooltip="SW5E.ItemReloadTarget">
                                {{selectOptions reloadAmmo selected=system.ammo.target blank=""}}
                            </select>
                        {{/if}}
                        <input type="text" name="system.ammo.value" value="{{system.ammo.value}}" data-dtype="Number" {{disabled reloadDisabled}}/>
                        <span class="sep">/</span>
                        <span>{{ system.ammo.max }}</span>
                        <a class="weapon-reload" {{disabled reloadFull}}>{{ localize reloadActLabel }}</a>
                        <input type="text" name="system.ammo.use" value="{{system.ammo.use}}" data-dtype="Number"
                               placeholder="{{system.ammo.baseUse}}" data-tooltip="SW5E.WeaponAmmoConsumeAmmountHint"/>
                    </div>
                </div>
            {{/if}}

            <h3 class="form-header">{{ localize "SW5E.ItemWeaponAttack" }}</h3>

            {{!-- Item Action Template --}}
            {{> "sw5e.item-action"}}
        </div>

        {{!-- Modifications Tab --}}
        {{#unless isStarshipItem}}
            <div class="tab modifications" data-group="primary" data-tab="modifications">
                {{> "sw5e.item-modifications"}}
            </div>
        {{/unless}}

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "sw5e.active-effects"}}
        </div>
    </section>
</form>
