<section class="panel">
    <section class="resource-items">
        <!-- <div class="resource">
            <h1>{{localize "SW5E.SuperiorityLevel"}}</h1>

            <div class="attribute-value">
                <input name="system.attributes.super.level" type="text" value="{{system.attributes.super.level}}" data-dtype="Number" placeholder="0" class="value-number" />
            </div>
        </div> -->

        <div class="resource">
            <h1>{{localize "SW5E.ConsumableManeuver"}}</h1>

            <div class="attribute-value multiple">
                <input name="system.attributes.super.dice.value" type="text" value="{{system.attributes.super.dice.value}}" data-dtype="Number" placeholder="0" class="value-number" />
                <span class="value-separator">/</span>
                <span class="value-number">{{system.attributes.super.dice.max}}{{#if system.attributes.super.dice.max}}{{system.attributes.super.die}}{{/if}}</span>
            </div>
        </div>

        <div class="resource">
            <h1>{{localize "SW5E.GeneralManeuverDC"}}</h1>

            <div class="attribute-value">
                <div></div>
                <span class="value-number">{{system.attributes.super.generalDC}}</span>
            </div>
        </div>

        <div class="resource">
            <h1>{{localize "SW5E.PhysicalManeuverDC"}}</h1>

            <div class="attribute-value">
                <div></div>
                <span>{{system.attributes.super.physicalDC}}</span>
            </div>
        </div>

        <div class="resource">
            <h1>{{localize "SW5E.MentalManeuverDC"}}</h1>

            <div class="attribute-value">
                <div></div>
                <span>{{system.attributes.super.mentalDC}}</span>
            </div>
        </div>

        <div class="resource">
            <h1>{{localize "SW5E.ManeuversKnown"}}</h1>
            
            <div class="attribute-value multiple">
                <span class="value-number">{{system.attributes.super.known.value}}</span>
                <span class="value-separator">/</span>
                <span class="value-number">{{system.attributes.super.known.max}}</span>
            </div>
        </div>
    </section>

    <ul class="filter-list" data-filter="superiorityPowerbook">
        <li class="filter-title">{{localize "SW5E.Filter"}}</li>
        <li class="filter-item" data-filter="action">{{localize "SW5E.Action"}}</li>
        <li class="filter-item" data-filter="bonus">{{localize "SW5E.BonusAction"}}</li>
        <li class="filter-item" data-filter="reaction">{{localize "SW5E.Reaction"}}</li>
    </ul>

    <div class="group-list-header group-grid-maneuvers">
        <div></div>
        <div class="item-detail item-uses"></div>
        <div class="item-detail item-school"></div>
        <div class="item-detail item-action">{{localize "SW5E.ManeuverUsage"}}</div>
        <div class="item-detail item-target">{{localize "SW5E.ManeuverTarget"}}</div>
    </div>

    <ol class="group-list">
        {{#each superiorityPowerbook as |section|}}
            <li>
                <div class="group-list-title group-grid-maneuvers">
                    <div class="item-name">
                        <h3>{{section.label}}</h3>
                        {{#if section.canCreate}}
                        <a class="item-control item-create" title="{{localize 'SW5E.ManeuverCreate'}}"
                            {{#each section.dataset as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                            <i class="fas fa-plus"></i> {{localize "SW5E.Add"}}
                        </a>
                        {{/if}}
                    </div>
                </div>
                <ol class="item-list">
                    {{#each section.maneuvers as |item i|}}
                    <li class="item group-grid-maneuvers" data-item-id="{{item._id}}">
                        <div class="item-name rollable">
                            <div class="item-image" tabindex="0" role="button" aria-label="{{item.name}}" style="background-image: url({{item.img}})"></div>
                            <h4>{{item.name}}</h4>
                        </div>

                        <div class="item-detail item-uses">
                            {{#if item.system.uses.per }}
                            Uses {{item.system.uses.value}} / {{item.system.uses.max}}
                            {{/if}}
                        </div>

                        <div class="item-detail item-school"></div>
                        <div class="item-detail item-action">{{labels.activation}}</div>
                        <div class="item-detail item-target" title="{{localize 'SW5E.Range'}}: {{labels.range}}">
                            {{#if labels.target}}
                            {{labels.target}}
                            {{else}}{{localize 'SW5E.None'}}
                            {{/if}}
                        </div>

                        {{#if ../../owner}}
                        <div class="item-detail item-controls">
                            {{#if section.canPrepare}}
                            <a class="item-control item-toggle {{item.toggleClass}}" title="{{item.toggleTitle}}"><i
                                    class="fas fa-check-circle"></i></a>
                            {{/if}}
                            <a class="item-control item-edit" title="{{localize 'SW5E.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize 'SW5E.ItemDelete'}}"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                </ol>
            </li>
        {{else}}
            {{#if owner}}
                {{#if filters.superiorityPowerbook.size}}
                    <li class="item flexrow">
                        <p class="notes">{{localize "SW5E.FilterNoManeuvers"}}</p>
                    </li>
                {{else}}
                    <li class="item flexrow inventory-header powerbook-header powerbook-empty">
                        <div class="item-controls">
                            <a class="item-control item-create" title="{{localize 'SW5E.ManeuverCreate'}}" data-type="power" data-type="general">
                                <i class="fas fa-plus"></i> {{localize "SW5E.ManeuverAdd"}}
                            </a>
                        </div>
                    </li>
                    <li class="item flexrow">
                        <p class="notes">{{localize "SW5E.NoSuperiorityLevels"}}</p>
                    </li>
                {{/if}}
            {{/if}}
        {{/each}}
    </ol>
</section>