<section class="resources">
    <section class="resource-items">
        {{#each resources as |res|}}
        <div class="resource">
            <h1>
                <input
                    name="system.resources.{{res.name}}.label"
                    type="text"
                    value="{{res.label}}"
                    placeholder="{{res.placeholder}}"
                />
            </h1>
            <div class="attribute-value">
                <input type="text" name="system.resources.{{res.name}}.value" value="{{res.value}}" placeholder="0" data-dtype="Number">
                <span class="value-separator">/</span>
                <input type="text" name="system.resources.{{res.name}}.max" value="{{res.max}}" placeholder="0" data-dtype="Number">
            </div>
            <footer class="attribute-footer">
                <label class="recharge checkbox flexcol">
                    <span>{{ localize "SW5E.AbbreviationSR" }}</span>
                    <input name="system.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}} />
                </label>
                <label class="recharge checkbox flexcol">
                    <span>{{ localize "SW5E.AbbreviationLR" }}</span>
                    <input name="system.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}} />
                </label>
            </footer>
        </div>
        {{/each}}
    </section>
    <section class="counters">
        <div class="counter">
            <h4 class="death-save rollable" data-action="rollDeathSave">{{ localize "SW5E.DeathSave" }}</h4>
            <div class="counter-value">
                <div class="death-success">
                    <i class="fas fa-check"></i>
                    <input type="text" name="system.attributes.death.success" value="{{system.attributes.death.success}}"
                           placeholder="0" data-dtype="Number">
                </div>
                <div class="death-fail">
                    <i class="fas fa-times"></i>
                    <input type="text" name="system.attributes.death.failure" value="{{system.attributes.death.failure}}"
                           placeholder="0" data-dtype="Number">
                </div>
            </div>
        </div>
        <div class="counter">
            <h4>{{ localize "SW5E.Exhaustion" }}</h4>
            <div class="counter-value">
                <input type="text" name="system.attributes.exhaustion" value="{{system.attributes.exhaustion}}" placeholder="0" data-dtype="Number">
            </div>
        </div>
        <div class="counter">
            <h4>{{ localize "SW5E.Inspiration" }}</h4>
            <div class="counter-value">
                <input
                    type="checkbox"
                    name="system.attributes.inspiration"
                    data-dtype="Boolean"
                    {{checked
                    system.attributes.inspiration}}
                />
            </div>
        </div>
    </section>
    <section class="traits">
        <label>
            {{localize "SW5E.Size"}}
            <select class="actor-size" name="system.traits.size">
                {{#select system.traits.size}} {{#each config.actorSizes as |label size|}}
                <option value="{{size}}">{{label}}</option>
                {{/each}} {{/select}}
            </select>
        </label>
        <label class="{{#unless system.traits.senses}}inactive{{/unless}}">
            {{#unless isVehicle}}
            <label>{{localize "SW5E.Senses"}}</label>
            <a class="config-button" data-action="senses" data-tooltip="SW5E.SensesConfig">
                <i class="fas fa-cog"></i>
            </a>
            <ul class="traits-list">
                {{#each senses as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
                {{/each}}
            </ul>
            {{/unless}}
        </label>
        <div class="form-group {{traits.traits.armorProf.cssClass}}">
            <label data-options="share-languages" class="languages">{{localize "SW5E.Languages"}}</label>
            <a
                class="trait-selector"
                data-trait="languages"
                data-tooltip="{{'SW5E.TraitConfig' trait=(localize 'SW5E.Languages')}}"
                tabindex="0"
            >
                <i class="fas fa-edit"></i>
            </a>
            <ul class="traits-list">
                {{#each traits.traits.languages.selected as |v k|}}
                <li>{{v}}</li>
                {{/each}}
            </ul>
        </div>
        {{#unless isVehicle}}
            <div class="form-group">
                <label>{{localize "SW5E.SpecialTraits"}}</label>
                <a
                    class="config-button"
                    data-action="flags"
                    data-tooltip="{{'SW5E.TraitConfig' trait=(localize 'SW5E.SpecialTraits')}}"
                >
                    <i class="fas fa-cog"></i>
                </a>
            </div>
        {{/unless}}

        <div class="form-group {{traits.traits.armorProf.cssClass}}">
            <label>{{localize "SW5E.TraitArmorProf"}}</label>
            <a
                class="trait-selector"
                data-trait="armor"
                data-tooltip="{{'SW5E.TraitConfig' trait=(localize 'SW5E.TraitArmorProf')}}"
            >
                <i class="fas fa-edit"></i>
            </a>
            <ul class="traits-list">
                {{#each traits.traits.armorProf.selected as |v k|}}
                <li>{{v}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="form-group {{traits.traits.toolProf.cssClass}}">
            <label>{{localize "SW5E.TraitToolProf"}}</label>
            <a
                class="trait-selector"
                data-trait="tool"
                data-tooltip="{{'SW5E.TraitConfig' trait=(localize 'SW5E.TraitToolProf')}}"
            >
                <i class="fas fa-edit"></i>
            </a>
            <ul class="traits-list">
                {{#each traits.traits.toolProf.selected as |v k|}}
                <li>{{v}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="form-group {{traits.traits.weaponProf.cssClass}}">
            <label>{{localize "SW5E.TraitWeaponProf"}}</label>
            <a
                class="trait-selector"
                data-trait="weapon"
                data-tooltip="{{'SW5E.TraitConfig' trait=(localize 'SW5E.TraitWeaponProf')}}"
            >
                <i class="fas fa-edit"></i>
            </a>
            <ul class="traits-list">
                {{#each traits.traits.weaponProf.selected as |v k|}}
                <li>{{v}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="form-group {{traits.traits.di.cssClass}}">
            <label>{{localize "SW5E.DamImm"}}</label>
            <a
                class="trait-selector"
                data-trait="di"
                data-tooltip="{{'SW5E.TraitConfig' trait=(localize 'SW5E.DamImm')}}"
                tabindex="0"
            >
                <i class="fas fa-edit"></i>
            </a>
            <ul class="traits-list">
                {{#each traits.traits.di.selected as |v k|}}
                <li>{{v}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="form-group {{traits.traits.dr.cssClass}}">
            <label>{{localize "SW5E.DamRes"}}</label>
            <a
                class="trait-selector"
                data-trait="dr"
                data-tooltip="{{'SW5E.TraitConfig' trait=(localize 'SW5E.DamRes')}}"
                tabindex="0"
            >
                <i class="fas fa-edit"></i>
            </a>
            <ul class="traits-list">
                {{#each traits.traits.dr.selected as |v k|}}
                <li>{{v}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="form-group {{traits.traits.dv.cssClass}}">
            <label>{{localize "SW5E.DamVuln"}}</label>
            <a
                class="trait-selector"
                data-trait="dv"
                data-tooltip="{{'SW5E.TraitConfig' trait=(localize 'SW5E.DamVuln')}}"
            >
                <i class="fas fa-edit"></i>
            </a>
            <ul class="traits-list">
                {{#each traits.traits.dv.selected as |v k|}}
                <li>{{v}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="form-group {{traits.traits.ci.cssClass}}">
            <label>{{localize "SW5E.ConImm"}}</label>
            <a
                class="trait-selector"
                data-trait="ci"
                data-tooltip="{{'SW5E.TraitConfig' trait=(localize 'SW5E.ConImm')}}"
            >
                <i class="fas fa-edit"></i>
            </a>
            <ul class="traits-list">
                {{#each traits.traits.ci.selected as |v k|}}
                    <li>{{v}}</li>
                {{/each}}
            </ul>
        </div>
        <ul class="passives"></ul>
    </section>
</section>
