<li class="item group-grid-fav-items" data-item-id="{{item.id}}">
  <div class="item-name rollable">
    <div class="item-image" style="background-image: url({{item.img}})"></div>
    <h4>{{item.name}}</h4>
  </div>

  <div class="form-group">
    <div class="item-detail item-type form-item">
      {{#if item.labels.school}}
        {{item.labels.school}}
      {{else}}
        {{item.labels.type}}
      {{/if}}
    </div>

    <div class="item-detail item-uses form-item">
      {{#if item.system.uses.max}}
        {{item.system.uses.value}}/{{item.system.uses.max}}
      {{else}}
        —
      {{/if}}
    </div>

    {{#if item.system.quantity}}
      <div class="item-detail item-count form-item">
        {{item.system.quantity}}
      </div>
    {{/if}}

    {{#if (eq item.type "power")}}
      <div class="item-detail item-comps form-item">
        {{#if item.powerComps}}
          {{item.powerComps}}
          {{#if item.powerCon}}<i class="fas fa-copyright"></i>{{/if}}
          {{#if item.powerRit}}<i class="fas fa-registered"></i>{{/if}}
        {{else}}
          —
        {{/if}}
      </div>
    {{/if}}
  </div>

  <div class="item-detail item-controls">
    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    <a class="item-control item-fav" title="Remove"><i class="fas fa-sign-out-alt"></i></a>
  </div>
</li>