<div class="form-group">
  <label>{{localize "SW5E.AdvancementCustomTitle"}}</label>
  <div class="form-fields">
    <input type="text" name="system.title" value="{{system.title}}" placeholder="{{default.title}}">
  </div>
</div>

<div class="form-group">
  <label>{{localize "SW5E.AdvancementCustomIcon"}}</label>
  <div class="form-fields">
    {{filePicker type="image" target="system.icon"}}
    <input type="text" name="system.icon" value="{{system.icon}}" placeholder="{{default.icon}}">
  </div>
</div>

{{#if showClassRestrictions}}
  <div class="form-group">
    <label>{{localize "SW5E.AdvancementClassRestriction"}}</label>
    <div class="form-fields">
      <select name="system.classRestriction">
        {{#select system.classRestriction}}
          <option value="">{{localize "SW5E.AdvancementClassRestrictionNone"}}</option>
          <option value="primary">{{localize "SW5E.AdvancementClassRestrictionPrimary"}}</option>
          <option value="secondary">{{localize "SW5E.AdvancementClassRestrictionSecondary"}}</option>
        {{/select}}
      </select>
    </div>
  </div>
{{/if}}

{{#if showLevelSelector}}
  <div class="form-group">
    <label>{{localize "SW5E.Level"}}</label>
    <div class="form-fields">
      <select name="system.level" data-dtype="Number">
        {{selectOptions levels selected=system.level}}
      </select>
    </div>
  </div>
{{/if}}
