<li class="item flexrow" data-entry-uuid="{{entry.uuid}}" data-type="Actor">
    <div class="image">
        <img class="" src="{{entry.img}}" title="{{entry.name}}" width="32" height="32" loading="lazy"/>
    </div>
    <div class="name">
        <a class="actor-link">{{entry.name}}</a>
    </div>
    <div class="level">
        <span title="NPC CR">{{entry.cr}}</span>
    </div>
</li>
