<section class="panel abilities">
    {{!-- Ability Scores --}}
    <section class="scores">
        <h1>{{localize "SW5E.AbilityScorePl"}}</h1>
        <ol class="score-list">
            {{#each abilities as |ability id|}}
            <li class="score{{#if ability.proficient}} proficient{{/if}}" data-ability="{{id}}">
                <h2 class="ability-name rollable">{{ability.label}}</h2>
                <input type="text" name="system.abilities.{{id}}.value" value="{{ability.value}}"
                       class="ability-score" placeholder="10" data-dtype="Number">
                <div class="ability-modifiers">
                    <span class="ability-mod" data-tooltip="SW5E.Modifier">
                        {{numberFormat ability.mod decimals=0 sign=true}}
                    </span>
                    <input
                        type="hidden"
                        name="system.abilities.{{id}}.proficient"
                        value="{{ability.baseProf}}"
                        data-dtype="Number"
                    />
                    <a class="proficiency-toggle ability-proficiency" data-tooltip="SW5E.Proficiency">
                        {{{ability.icon}}}
                    </a>
                    <span class="ability-save" data-tooltip="SW5E.SavingThrow">
                        {{numberFormat ability.save decimals=0 sign=true}}
                    </span>
                </div>
                <a class="config-button" data-action="ability" data-tooltip="SW5E.AbilityConfigure">
                    <i class="fas fa-cog"></i>
                </a>
            </li>
            {{/each}}
        </ol>
    </section>
    {{!-- Skills --}}
    <section class="skills">
        <h1>{{localize "SW5E.Skills" }}</h1>
        <ol>
            {{#each config.skills as |obj s|}} {{#with (lookup ../skills s) as |skill|}}
            <li class="proficiency-row skill {{#if skill.value}}proficient{{/if}}"
                    data-property="skills" data-key="{{s}}">
                <input type="hidden" name="system.skills.{{s}}.value" value="{{skill.baseValue}}" data-dtype="Number">
                <input type="hidden" name="system.skills.{{s}}.ability" value="{{skill.ability}}">
                <a class="proficiency-toggle skill-proficiency" data-tooltip="{{skill.hover}}">{{{skill.icon}}}</a>
                <div class="skill-name-controls">
                    <span class="skill-name rollable">{{skill.label}}</span>
                    <a class="config-button" data-action="skill" data-tooltip="SW5E.SkillConfigure">
                        <i class="fas fa-cog"></i>
                    </a>
                </div>
                <span class="skill-ability">{{skill.abbreviation}}</span>
                <span class="skill-mod" data-tooltip="{{'SW5E.SkillModifierHint' skill=skill.label}}">
                    {{numberFormat skill.total decimals=0 sign=true}}
                </span>
                <!-- <input
                    class="skill-bonus"
                    name="system.skills.{{s}}.bonus"
                    type="text"
                    value="{{numberFormat skill.bonus decimals=0 sign=true}}"
                    data-dtype="Number"
                    placeholder="0"
                    title="Misc. Modifier"
                /> -->
                <!-- <span class="skill-passive" data-tooltip="{{'SW5E.SkillPassiveHint' skill=skill.label}}">({{skill.passive}})</span> -->
            </li>
            {{/with}} {{/each}}
        </ol>
    </section>
</section>
<section class="panel traits-resources">
    <nav class="core-tabs tab-list" data-subgroup-selection>
        <button type="button" class="item active" data-subgroup="coreattributes" data-target="traits">
            {{localize "SW5E.ResourcesAndTraits"}}
        </button>
        <button type="button" class="item" data-subgroup="coreattributes" data-target="favorites">
            {{localize "SW5E.Favorites" }}
        </button>
        <button type="button" class="item" data-subgroup="coreattributes" data-target="notes">
            {{localize "SW5E.Notes" }}
        </button>
    </nav>
    <div class="tab core-traits active" data-subgroup="coreattributes" data-target="traits">
        {{> "sw5e.swalt-traits"}}
    </div>
    <div class="tab core-favorites" data-subgroup="coreattributes" data-target="favorites">
        {{> "sw5e.swalt-favorites"}}
    </div>
    <div class="tab core-notes" data-subgroup="coreattributes" data-target="notes">
        {{> "sw5e.swalt-notes"}}
    </div>
</section>
