<section class="panel">
    {{#if (or isCharacter showCurrency showEncumbrance) }}
        <div class="currency-encumbrance">

            {{#if (or isCharacter showCurrency)}}
                <label class="currency">
                    <!-- {{localize "SW5E.Currency"}} -->
                    {{#each system.currency as |v k|}}
                        <label class="denomination {{k}}">{{ lookup ../labels.currencies k }}</label>
                        <input type="text" name="system.currency.{{k}}" value="{{v}}" data-dtype="Number">
                    {{/each}}
                </label>
            {{/if}}
            {{#if (or isCharacter showEncumbrance)}} {{#with encumbrance}}
                <div class="encumbrance-wrapper" title="Encumbrance">
                    <div class="encumbrance {{#if encumbered}}encumbered{{/if}}">
                        <span class="encumbrance-bar" style="width:{{pct}}%"></span>

                        <i class="encumbrance-breakpoint encumbrance-33 arrow-up"></i>
                        <i class="encumbrance-breakpoint encumbrance-33 arrow-down"></i>
                        <i class="encumbrance-breakpoint encumbrance-66 arrow-up"></i>
                        <i class="encumbrance-breakpoint encumbrance-66 arrow-down"></i>
                    </div>
                    <span class="encumbrance-label">{{value}} / {{max}}</span>
                </div>
            {{/with}} {{/if}}
        </div>
    {{/if}}

    {{#if isCharacter}}
        <div class="attunement">
            <label>{{localize "SW5E.Attunement"}}</label>
            <span class="attunement-value">{{system.attributes.attunement.value}}</span>
            <span class="sep"> / </span>
            <span class="attunement-max" {{#if overrides.attunement}}data-tooltip="SW5E.ActiveEffectOverrideWarning"{{/if}}>
            {{system.attributes.attunement.max}}
            {{#unless (or overrides.attunement (not editable))}}
                <a class="attunement-max-override" data-tooltip="SW5E.AttunementOverride">
                    <i class="fa-solid fa-edit"></i>
                </a>
                {{/unless}}
            </span>
        </div>
    {{/if}}
    {{#if inventoryFilters}}
        <ul class="filter-list" data-filter="inventory">
            <li class="filter-title">{{localize "SW5E.Filter"}}</li>
            <li class="filter-item" data-filter="action">{{localize "SW5E.Action"}}</li>
            <li class="filter-item" data-filter="bonus">{{localize "SW5E.BonusAction"}}</li>
            <li class="filter-item" data-filter="reaction">{{localize "SW5E.Reaction"}}</li>
            {{#if isCharacter }}
                <li class="filter-item" data-filter="equipped">{{localize "SW5E.Equipped"}}</li>
            {{/if}}
        </ul>
    {{/if}}

    <div class="group-list-header group-grid-inventory">
        <div>&nbsp;</div>
        {{#if isCharacter}}
            <div class="item-detail item-weight">{{localize "SW5E.Weight"}}</div>
        {{else if showFiringArc}}
            <div class="item-detail item-firingArc">{{localize "SW5E.FiringArcAbbr"}}</div>
        {{else}}
            <div></div>
        {{/if}}
        <div class="item-detail item-quantity">{{localize "SW5E.QuantityAbbr"}}</div>
        <div class="item-detail item-uses">{{localize "SW5E.Charges"}}</div>
        <div class="item-detail item-action">{{localize "SW5E.Usage"}}</div>
        <div class="item-detail"></div>
    </div>
    <ol class="group-list">
        {{#each sections as |section sid|}}
        {{#if (or section.items.length section.required)}}
        <li>
            <div class="group-list-title">
                <h3 class="item-name">{{localize section.label}}</h3>

                {{#if ../owner}}
                    <a class="item-control item-create" data-action="itemCreate" data-tooltip="SW5E.ItemCreate"
                        {{#each section.dataset as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                        <i class="fas fa-plus"></i> {{localize "SW5E.Add"}}
                    </a>
                {{/if}}
            </div>
            <ol class="group-items item-list">
                {{#each section.items as |item iid|}}
                {{#sw5e-itemContext item as |ctx|}}
                    <li class="item group-grid-inventory {{section.css}}{{#if ctx.isExpanded}} expanded{{/if}}" data-item-id="{{ctx.id}}"
                        {{#if section.editableName}}data-item-index="{{iid}}"{{/if}}>
                        <div class="item-name {{@root.rollableClass}}">
                            <div class="item-image" tabindex="0" role="button" aria-label="{{item.name}}"
                                 style="background-image: url('{{item.iconForeground}}'), url('{{item.img}}'), url('{{item.iconBackground}}')"></div>
                            <h4>
                                {{item.name~}}
                                {{~#if ctx.isStack}} ({{item.system.quantity}}){{/if}}
                            </h4>
                            {{#if ctx.attunement}}
                                <div class="attunement">
                                    <i class="fas {{ctx.attunement.icon}} {{ctx.attunement.cls}}" data-tooltip="{{ctx.attunement.title}}"></i>
                                </div>
                            {{/if}}
                            {{#if ctx.hasReload}}
                                <div class="item-detail item-reload">
                                    {{#if ctx.reloadUsesAmmo}}
                                        <select class="weapon-select-ammo" name="item.system.ammo.target" data-tooltip="SW5E.ItemReloadTarget">
                                            {{selectOptions ctx.reloadAmmo selected=item.system.ammo.target blank=""}}
                                        </select>
                                    {{/if}}
                                    {{#if ctx.hasUses}}
                                        <div class="form-group uses-per" data-tooltip="SW5E.ItemReload" data-attr="ammo">
                                            <input type="text" value="{{item.system.ammo.value}}" placeholder="0"
                                                   data-dtype="Number" data-name="system.ammo.quantity" {{disabled ctx.reloadDisabled}}/>
                                            <span class="sep">/</span>
                                            <span>{{ item.system.ammo.max }}</span>
                                        </div>
                                    {{/if}}
                                </div>
                            {{/if}}
                        </div>

                        {{#if section.columns}}
                            {{#each section.columns}}
                                <div class="item-detail {{css}}">
                                    {{#if editable}}
                                        <input type="text" data-dtype="{{editable}}" data-property="{{property}}"
                                               value="{{#if (getProperty item property)}}{{getProperty item property}}
                                               {{~else}}{{getProperty ctx property}}{{/if}}" placeholder="&mdash;">
                                    {{else}}
                                        {{#if (getProperty item property)}}
                                            {{getProperty item property}}
                                        {{else}}
                                            {{getProperty ctx property}}
                                        {{/if}}
                                    {{/if}}
                                </div>
                            {{/each}}
                        {{/if}}

                        {{#if ../../showFiringArc}}
                            {{#if ctx.firingArc}}
                                <div class="item-detail item-firingArc">{{ ctx.firingArc }} </div>
                            {{else}}
                                <div></div>
                            {{/if}}
                        {{else}}
                            {{#if ctx.totalWeight}}
                                <div class="item-detail item-weight">{{ ctx.totalWeight }} {{ @root.weightUnit }}</div>
                            {{else}}
                                <div></div>
                            {{/if}}
                        {{/if}}

                        <div class="item-detail item-quantity">
                            <input type="text" value="{{item.system.quantity}}" placeholder="0" data-dtype="Number" data-name="system.quantity">
                        </div>

                        <div class="item-detail item-uses">
                            {{#if ctx.hasUses}}
                                <div class="form-group uses-per" data-tooltip="SW5E.ConsumeCharges" data-attr="uses">
                                    <input type="text" value="{{item.system.uses.value}}" placeholder="0"
                                           data-dtype="Number" data-name="system.quantity"/>
                                    <span class="sep">/</span>
                                    <span>{{ item.system.uses.max }}</span>
                                </div>
                            {{else if ctx.hasReload}}
                                <div class="form-group uses-per" data-tooltip="SW5E.ItemReload" data-attr="ammo">
                                    <input type="text" value="{{item.system.ammo.value}}" placeholder="0"
                                           data-dtype="Number" data-name="system.ammo.value" {{disabled ctx.reloadDisabled}}/>
                                    <span class="sep">/</span>
                                    <span>{{ item.system.ammo.max }}</span>
                                </div>
                            {{/if}}
                        </div>

                        <div class="item-detail item-action">
                            {{#if item.system.activation.type }}
                                {{item.labels.activation}}
                            {{/if}}
                        </div>

                        {{#if @root.owner}}
                        <div class="item-detail item-controls">
                            {{#if ctx.canToggle}}
                                <a class="item-control item-toggle {{ctx.toggleClass}}" data-action="itemToggle" data-tooltip='{{ctx.toggleTitle}}'>
                                    <i class="fas fa-shield-alt"></i>
                                </a>
                            {{/if}}
                            {{#unless section.editableName}}
                                <a class="item-control item-edit" data-action="itemEdit" data-tooltip="SW5E.ItemEdit">
                                    <i class="fas fa-edit"></i>
                                </a>
                            {{/unless}}
                            <a class="item-control item-delete" data-action="itemDelete" data-tooltip="SW5E.ItemDelete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                        {{/if}}

                        {{#if ctx.isExpanded}}
                            {{> "sw5e.item-summary" (lookup @root.expandedData item.id)}}
                        {{/if}}
                    </li>
                {{/sw5e-itemContext}}
                {{/each}}
            </ol>
        </li>
        {{/if}}
        {{/each}}
    </ol>
</section>