<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SW5E.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li style="flex-basis: 80px;">
                    {{ localize (lookup config.modificationTypes system.modificationType) }}
                </li>
                <li>
                    <select name="system.rarity">
                        {{selectOptions config.itemRarity selected=system.rarity blank="&nbsp;"}}
                    </select>
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'SW5E.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SW5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SW5E.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "SW5E.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "sw5e.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SW5E.ItemModificationDetails" }}</h3>

            {{!-- Modification Type --}}
            <div class="form-group">
                <label>{{ localize "SW5E.ItemModificationType" }}</label>
                <select name="system.modificationType">
                    {{selectOptions config.modificationTypes selected=system.modificationType}}
                </select>
            </div>

            {{!-- Modification Slot --}}
            <div class="form-group">
                {{#if usesSlot}}
                <label>{{ localize "SW5E.ItemModificationSlot" }}</label>
                <select name="system.modificationSlot">
                    {{#with (lookup config.modificationSlots system.modificationType) as |modSlots| }}
                    {{selectOptions modSlots selected=../system.modificationSlot}}
                    {{/with}}
                </select>
                {{/if}}
            </div>

            {{!-- Weapon/Equipment Properties --}}
            {{#if (or isWpnMod isEquipMod isCastMod)}}
                <h3 class="form-header">{{ localize "SW5E.ItemModificationPropertyPl" }}</h3>

                {{#if isWpnMod}}
                    {{!-- Weapon Properties --}}
                    <div class="form-group stacked weapon-properties">
                        <label>{{ localize "SW5E.ItemWeaponProperties" }}</label>
                        {{#each wpnProperties as |property key|}} {{#if (eq property.type "Boolean")}}
                            <label class="checkbox" title="{{localize property.desc}}">
                                <input class="tristate-checkbox" type="checkbox" name="system.properties.{{key}}" {{checked (lookup ../system.properties key)}}/>{{ localize property.name }}
                            </label>
                        {{/if}} {{/each}}

                        {{#each wpnProperties as |property key|}} {{#if (eq property.type "Number")}}
                            <label class="number" title="{{localize property.desc}}">
                                {{ localize property.name }}<input type="text" name="system.properties.{{key}}" value="{{lookup ../system.properties key}}" data-dtype="Number">
                            </label>
                        {{/if}} {{/each}}
                    </div>

                    {{!-- Attack Roll Bonus --}}
                    <div class="form-group">
                        <label>{{ localize "SW5E.ItemAttackBonus" }}</label>
                        <div class="form-fields">
                            <input type="text" name="system.attackBonus" value="{{system.attackBonus}}"/>
                        </div>
                    </div>

                    {{!-- Damage Formula --}}
                    <h4 class="damage-header">
                        {{ localize "SW5E.Damage" }} {{ localize "SW5E.Formula" }}
                        <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
                    </h4>
                    <ol class="damage-parts form-group">
                        {{#each system.damage.parts as |part i| }}
                        <li class="damage-part flexrow" data-damage-part="{{i}}">
                            <input type="text" name="system.damage.parts.{{i}}.0" value="{{lookup this "0"}}"/>
                            <select name="system.damage.parts.{{i}}.1">
                                {{#select (lookup this "1") }}
                                <option value="">{{ localize "SW5E.None" }}</option>
                                {{#each ../config.damageTypes as |name type|}}
                                <option value="{{type}}">{{name}}</option>
                                {{/each}}
                                {{#each ../config.healingTypes as |name type|}}
                                <option value="{{type}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                            <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
                        </li>
                        {{/each}}
                    </ol>
                {{/if}}

                {{#if isEquipMod}}
                    {{!-- Armor Properties --}}
                    <div class="form-group stacked armor-properties">
                        <label>{{ localize "SW5E.ArmorProperties" }}</label>
                        {{#each config.armorProperties as |property key|}} {{#if (eq property.type "Boolean")}}
                        <label class="checkbox" title="{{localize property.desc}}">
                            <input class="tristate-checkbox" type="checkbox" name="system.properties.{{key}}" {{checked (lookup ../system.properties key)}}/>{{ localize property.name }}
                        </label>
                        {{/if}} {{/each}}

                        {{#each config.armorProperties as |property key|}} {{#if (eq property.type "Number")}}
                        <label class="number" title="{{localize property.desc}}">
                            {{ localize property.name }}<input type="text" name="system.properties.{{key}}" value="{{lookup ../system.properties key}}" data-dtype="Number">
                        </label>
                        {{/if}} {{/each}}
                    </div>

                    {{!-- Armor Class --}}
                    <div class="form-group">
                        <label>{{ localize "SW5E.ArmorClassBonus" }}</label>
                        <div class="form-fields">
                            <input type="text" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number" placeholder="{{ localize 'SW5E.None' }}"/>
                        </div>
                    </div>

                    {{!-- Dexterity Modifier --}}
                    <div class="form-group">
                        <label>{{ localize "SW5E.ItemEquipmentDexMod" }}</label>
                        <div class="form-fields">
                            <input type="text" name="system.armor.dex" value="{{system.armor.dex}}" data-dtype="Number" placeholder="{{ localize 'SW5E.Unchanged' }}"/>
                        </div>
                    </div>

                    {{!-- Required Strength --}}
                    <div class="form-group">
                        <label>{{ localize "SW5E.ItemRequiredStr" }}</label>
                        <div class="form-fields">
                            <input type="text" name="system.strength" value="{{system.strength}}" data-dtype="Number" placeholder="{{ localize 'SW5E.Unchanged' }}"/>
                        </div>
                    </div>

                    {{!-- Stealth Disadvantage --}}
                    <div class="form-group">
                        <label>{{ localize "SW5E.ItemEquipmentStealthDisav" }}</label>
                        <input class="tristate-checkbox" type="checkbox" name="system.stealth" value="1" {{checked system.stealth}}/>
                    </div>
                {{/if}}

                {{#if isCastMod}}
                    {{!-- Casting Properties --}}
                    <div class="form-group stacked casting-properties">
                        <label>{{ localize "SW5E.CastingProperties" }}</label>
                        {{#each config.castingProperties as |property key|}} {{#if (eq property.type "Boolean")}}
                        <label class="checkbox" title="{{localize property.desc}}">
                            <input class="tristate-checkbox" type="checkbox" name="system.properties.{{key}}" {{checked (lookup ../system.properties key)}}/>{{ localize property.name }}
                        </label>
                        {{/if}} {{/each}}

                        {{#each config.castingProperties as |property key|}} {{#if (eq property.type "Number")}}
                        <label class="number" title="{{localize property.desc}}">
                            {{ localize property.name }}<input type="text" name="system.properties.{{key}}" value="{{lookup ../system.properties key}}" data-dtype="Number">
                        </label>
                        {{/if}} {{/each}}
                    </div>
                {{/if}}
            {{/if}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "sw5e.active-effects"}}
        </div>
    </section>
</form>
