<div class="dialog-content">
    {{#each content.i18n}}
    <div>
        <label class="radio">
            <input type="radio" name="value" value="{{@key}}" {{checked (eq ../content.preselected @key)}}> {{this}}
        </label>
    </div>
    {{/each}}
</div>
<div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">{{{button.icon}}} {{{button.label}}}</button>
    {{/each}}
</div>
